@import "variables.less";
html{height: 100%;}
body {
	font-family:'quicksandbook';
	background: #d1e0e6;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxZTBlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWFkZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d1e0e6 0%, #8aadf0 100%);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e0e6), color-stop(100%,#8aadf0));

	background: -webkit-linear-gradient(top,  #d1e0e6 0%,#8aadf0 100%);

	background: -o-linear-gradient(top,  #d1e0e6 0%,#8aadf0 100%);

	background: -ms-linear-gradient(top,  #d1e0e6 0%,#8aadf0 100%);

	background: linear-gradient(to bottom,  #d1e0e6 0%,#8aadf0 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e0e6', endColorstr='#8aadf0',GradientType=0 );
	}
.loginPopover {
	width: 300px;
	}
.topNav {
	background-color: #fff;
	img.logo {
		margin:12px 0px 12px 60px;
		}
	a {color:rgb(10,171, 185);
		font-size:1.1em;
		margin: 0px 10px 0px 0px;
		}
	.top-nav-links {position:relative;top:10px;}
	.home-top-nav-links {
		position:relative;top:35px;font-size:1em;text-transform:uppercase;
		.signInButton {font-size:.7em;margin-right:60px;}
	}
}
.header {
	.navbar {border-radius:0px;}
.navbar-inverse {
	padding:0px 28px;
	.navbar-nav > li > a {
		color:#c5d645!important;
		font-family:'quicksandbold';
		font-size:1.2em;
	}
	.navbar-nav > li > a.active {
		color:rgb(10,171, 185)!important;
	}
	background-color:@gray-dark;
	}
}

#footer {
	
	position:absolute;
	width:100%;
	line-height:47px;
	bottom:-20px;
		.navbar {border-radius:0px;}
		.navbar-inverse 
		{
		padding:0px 60px;
			.navbar-nav > li 
			{
				float:left;
			}
		.navbar-nav > li > a.active 
		{
		color:rgb(10,171, 185)!important;
	   }
	background-color:@gray-dark;
	}
	ul.copyright-social li {margin-right:20px}
	
}.addressPopover {
  width: 300px;
  input {
    max-width:250px;
  }
}
article.home{
	.navbar-inverse {
		border-radius:0px;
		h4 {text-align:center;color:@gray-light;font-family:'museo';line-height:35px;}
		}
		.carousel-caption {
		right: 20%;
		left: 20%;
		padding-bottom: 30px;
		background-color: rgba(0,0,0,.7);
		border-radius: 10px;
		}
	
}
.btn-success {
color: rgb(27,99, 136);
background-color: #c5d645;
border-color: rgb(62,63,66);
font-family: quicksandbold;
font-size: 1.1em;}