@import url('variables.less');
html {
    height: 100%;
}
body {
    font-family: 'quicksandbook';
    background: #d1e0e6;
    background: url(data:image/svg+xml;
    base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxZTBlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWFkZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#d1e0e6 0%,#8AD8F0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d1e0e6),color-stop(100%,#8AD8F0));
    background: -webkit-linear-gradient(top,#d1e0e6 0%,#8AD8F0 100%);
    background: -o-linear-gradient(top,#d1e0e6 0%,#8AD8F0 100%);
    background: -ms-linear-gradient(top,#d1e0e6 0%,#8AD8F0 100%);
    background: linear-gradient(to bottom,#d1e0e6 0%,#8AD8F0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e0e6',endColorstr='#8AD8F0',GradientType=0 );
    height: 100%;
    background-attachment: fixed;
}
input.form-control:focus, textarea.form-control:focus {
    box-shadow: 0px 0px 18px #12545A!important;
}
.modal-body img {max-width: 538px;}
.modal-header i.deleteItem {
position: relative;
left: 10px;
top: -12px;
font-size:20px;
}
.page-title h2 {color:@brand-success;line-height:30px;margin-top:12px;font-family:'museoLight';}
iframe {border:0px;overflow:hidden;}
.popover {padding-bottom: 10px;}
#site-container {min-height: 100%;}
.register.container {margin-top:60px;}
///CSS3 Animations///
.rotate {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}
h1, h2, h3, h4, h5 {font-family:'museo';}
///Forms////
.topNav .form-signin a {font-size:.8em;position: relative;
bottom: -6px;}
legend {
    font-family: 'museoLight';
    color: #3e3f42;
    font-size: 1.2em;
    border-bottom: 0px solid #000;
    width: 97%;
    margin-left: 1%
}
.required {
    color: @link-color;
    padding-left: 3px;
}
.loginPopover {
    width: 200px;
}
label {
    font-weight: normal;
}
form .has-error .form-control {box-shadow: 0px 0px 18px #b94a48!important;border: 1px dashed #cccccc;}
 i.deleteItem {
    color: @gray-light;
    position: relative;
    top: 7px;
    left: 20px;
    font-size: 27px;
}
i.deleteItem:hover {color: @red;}
  img.duplicateEvent, i.glyphicon-cloud-upload { -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;}
    .glyphicon-cloud-upload:hover {
        display: inline-block;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
.chooser .buttons {margin-right:30px;}
.chooser .enlarge i {font-size: 1.7em;
position: relative;
top: 6px;}
.chooser .thumbnail {padding: 23px 4px;border: 1px dashed #dddddd;background-color:transparent!important;}
.topNav {
    background-color: #fff;
    img.logo {
        margin: 12px 0px 12px 0px;
    }
    a {
        font-size: 1.1em;
        margin: 0px 10px 0px 0px;
    }
    .top-nav-links {
        position: relative;
        top: 10px;
    }
    .container .col-md-1 {
        padding-left: 0px;
    }
    .home-top-nav-links {
        position: relative;
        top: 35px;
        font-size: 1em;
        .signInButton {
            font-size: 1em;
        }
    }
}
.header {
    .navbar {
        border-radius: 0px;
    }
    .navbar-inverse {
        padding: 0px 28px;
        background-color: @gray-dark;
        .navbar-nav > li > a {
            color: #c5d645!important;
            font-family: 'quicksandbold';
            font-size: 1.3em;
        }
        .navbar-nav > li > a.nav-cta {
            font-family: 'museo';
            font-size: 1.4em;
            padding: 12px 0px 10px 0px;
        }
        .navbar-nav > li > a.active, .navbar-nav > li > a:hover {
            color: rgb(10,171,185)!important;
        }
    }
}
#footer {
    width: 100%;
    line-height: 55px;
    height: 55px;
    position: relative;
    margin-top: -55px;
    .navbar {
        border-radius: 0px;
    }
    .navbar-inverse {
        padding: 0px 60px;
        background-color: @gray-dark;
        .navbar-nav > li {
            float: left;
        }
        .navbar-nav > li > a.active {
            color: rgb(10,171,185)!important;
        }
        .navbar-nav > li > a {
            color: #0aabb9 !important;
        }
    }
    ul.copyright-social li {
        margin-right: 20px;
    }
}
section.home {
    .navbar-inverse {
        border-radius: 0px;
        margin-bottom:0px;
        h4 {
            text-align: center;
            color: @brand-success;
            font-family: 'museoLight';
            line-height: 35px;
        }
    }
    .primary-messaging article {
      min-height: 400px;
      background-color: #fff;
      padding:50px;
      p a {font-family:'quicksandbold'}
      }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
        background-color: rgba(0,0,0,.7);
        border-radius: 10px;
    }
}
.btn-success {
    color: @gray ;
    background-color: #c5d645;
    border: 1px solid #ccc;
    font-size: 1.3em;
}
.btn-success:hover {
    color: #fff ;
    background-color: @brand-primary;
    border: 1px solid #ccc;
    font-size: 1.3em;
}
.btn-default {
    color: #06A1AF;
}
.btn-info {
    background-color: #06A1AF;
}
a {
    cursor: pointer;
}
.event-list {
   .panel-default > .panel-heading {line-height: 40px;}
   .list-options a {padding: 9px 12px;
   }
   .event-list-controls {margin-bottom:10px;}
   legend {
       font-family: 'museoLight';
       color: #c5d645;
       font-size: 1.4em;
       border-bottom: 0px solid #000;
       position: relative;
       top: 11px;
       
       i {color:#c5d645;opacity:1.0!important;}
   }
   .alert-container {padding-left: 0px!important;
   padding-right: 34px;}
   .alert.listAlert {padding: 7px;
   background-color: #06A1AF;
   color: #fff;
   text-align: center;
   font-size: 1.2em;}
   
  .event-edit form {
    .edit-actions{position:relative;top:90px;left:0px;}
   textarea.description {height: 101px;}
    margin-left:0px!important;
    padding:15px;
    .row div {
        margin-bottom: 10px!important;
    }
    
    }
    h2 {
        font-family: 'museo';
        color: @gray-dark;
    }
    
    .event-title a {
        font-family: 'quicksandbold';
        color: #06A1AF;
        font-size: 1.2em;
    }
     
    .panel-default > .panel-heading + .panel-collapse .panel-body, .form-inline {
        background-color: #06A1AF;
        box-shadow: 0px -2px 13px #5D5F5F inset;
        padding:0px;
        label {
            color: #fff;
        }
        
     
    }
    .expanded {
    box-shadow: 0px 4px 13px #A1A2A5 inset;
    z-index: 999;
    i.deleteItem, i.deleteItem:hover {color: @gray-lighter;}
    img.duplicateEvent{opacity:0.2;}
    }
    .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
   
    }
    .eventListActions {
      text-align:right;
      
        img.duplicateEvent:hover {  -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -o-transform: rotate(360deg);}
    }
    .panel-group {
    }
    .panel-group .panel {
        overflow: visible!important;
        background-color: transparent;
    }
    textarea.description {
    }
    .showMoreButton {
        font-family: museoLight;
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 1.8em;
        i {
            margin-right: 10px;
            height: 30px;
        }
        .showmore {
            -webkit-transition-duration: 0.8s;
            -moz-transition-duration: 0.8s;
            -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            -o-transition-property: -o-transform;
            transition-property: transform;
            overflow: hidden;
        }
        .showmore:hover {
            display: inline-block;
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
        }
    }
    .recurring-date {color: #fff;
    font-family: 'quicksandbold';}
}
.register {
    h2 {
        font-family: 'museo';
        color: @gray-dark;
        margin-bottom: 45px;
    }
    .radio label {
    font-family:'quicksandbold';
    font-size: 1.1em;
    i {font-size: 0.9em;
    opacity: .5;
    margin-left: 5px;
    color: #06A1AF;
    }
    
    }
}
.business-edit {
    .row {
        margin: 0px;
    }
    h2 {
        font-family: 'museo';
        color: @gray-dark;
    }
    form {
        i {
            margin-right: 10px;
            opacity: 0.5;
        }
        div {
            margin-top: 15px;
        }
   
    .address {
        div {
            margin:0px;
        }
    }
     }
}
.business-list {
    .row {
        margin: 0px;
        .image {
          line-height: 166px;
          img {width:100%;}
          }
    }
    h2 {
        font-family: 'museo';
        color: @gray-dark;
    }
    .promotionTargets {
        margin-top: 50px;
        img {
            margin-right: 6px;
        }
        a.socialNotConnected {
            color: @gray-light;
        }
        a.socialConnected {
            color: @link-color;
            font-family:'quicksandbold'
        }
    }
    h2.businessName {
        font-family: 'museoLight';
        font-size: 1.7em;
    }
    .edit i {
        font-size: 0.7em;
        position: relative;
        left: 10px;
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
        overflow: hidden;
        height: 30px;
    }
    .businessName .edit i:hover {
        display: inline-block;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    .businessLocation {
        font-size: 1.2em;
        color: #999;
    }
}
.event-edit {
    h2 {
        font-family: 'museo';
        color: @gray-dark;
    }
    form {
        margin-left: 40px;
        .row div {
            margin-bottom: 23px;
        }
        i {
            margin-right: 10px;
            opacity: 0.5;
        }
        i.glyphicon-plus {
            opacity: 1.0;
            font-size: 1.2em;
        }
        .well {
            border: 1px dashed #BEBDBD;
            margin-bottom: 3px;
            
        }
        a.showMediaLibrary {
          position: relative;
          bottom: 6px;
          font-style: italic;
        }
        .saveButton {
            position: relative;
            top: -100px;
            width: 94px;
            height: 136px;
            background: url('/client/images/publish_no_howie.png') 0px 0px no-repeat transparent;
        }
        .saveButton:hover {
            position: relative;
            top: -100px;
            width: 94px;
            height: 136px;
            background: url('/client/images/publish_howie.png') 0px 0px no-repeat transparent;
        }
        img.currentImage {
          width: 100%;
          margin-bottom: 9px;
          }
        .popover {
            max-width: 476px;
            }
        #map-canvas {
            width: 450px!important;
            margin-top: 10px;
        }
        .address-finder .popover {
            top: -20px;
        }
        
       
        .edit-actions{position:relative;top:85px;left:10px;}
    }
}
 .no-bottom-margin div {margin-bottom:8px!important;}
#drop-target p span {font-size:2em;font-family:'museoLight'; color:@gray-light;}
#drop-target p em {font-family:'museoLight'; color:@gray-light;}
.business-edit {
    .form-group {
        width: 100%;
    }
    .well {
        border: 1px dashed #BEBDBD;
        margin-bottom: 3px;
        margin-top: 0px;
    }
}
.btn {
    font-family: 'museo';
}
textarea.form-control.description {
}
///Chosen Override styles ///
.gray-tags .chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    background-color: @gray;
    color: @gray-lighter;
    font-family: @font-family-serif;
    padding: 7px 20px 7px 5px;
}
.blue-tags .chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    background-color: @link-color;
    color: @gray-lighter;
    font-family: @font-family-serif;
    padding: 7px 20px 7px 5px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 6px;
    right: 3px;
    display: block;
    width: 17px;
    height: 12px;
    background: url('/client/images/chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}
.chosen-container-multi .chosen-choices {
    border-radius: 4px;
    border: 0px solid #fff;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 34px;
    color: #333;
    font-family: @font-family-sans-serif;
}
.chosen-container-single .chosen-single {
    background-image: none;
    border: 0px solid #fff;
    height: 35px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    line-height: 35px;
}
a {
    color: #06A1AF;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {width:100%;}

.widget-edit {
    textarea {
        width: 100%;
        height: 100px;
    }
}
