<div class="row">
  <div class="errors"></div>
  <p>Enter your email address below and instructions for resetting your password will be emailed to the address that is entered</p>
  <form class="form-horizontal" method="POST" action="/api/passwordReset/emailRequest">
    <label for="email">Email Address</label>
    <input type="email" class="email span3" id="email"/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>