<div class="row">
  <div class="errors"></div>
  <form class="form-horizontal password-form" method="PUT">
     <div class="control-group">
      <label for="current_password" class="control-label">Current Password</label>
      <div class="controls">
        <input type="password" name="currentPassword" class="currentPassword span3" id="current_password"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password</label>
      <div class="controls">
        <input type="password" name="password" class="password span3" id="password"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password-confirm" class="control-label">Confirm Password</label>
      <div class="controls">
        <input type="password" name="password-confirm" class="password-confirm span3" id="password-confirm"/>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form> 
</div>