<div class="register container">
<div class="row">
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span class="message"></span>
  </div>
</div>

<div class="col-md-6"><h3>Sign Up For Free, It's Easy As Pie</h2>
<h5>Here's how you start - </h5>
<ol>
<li>Tell us what kind of business you are.</li>
<li>Create a Hoopla.io user account.</li>
<li>Add your business.</li>
<li>Connect your social media networks.</li>
<li>Create your event.</li>
<li>Generate a website widget.</li>
<li>Publish your event to your social networks and website in one click.</li>
<li>Syndicate your event through our media partners.</li>
</ol>
</div>
<form class="register-form form-horizontal col-md-6">
  <div class="register-div">
  <div class="control-group userType">
  Tell Us About Your Business<span class="required">*</span>
  <div class="radio">
  <label>
    <input type="radio" class="userType" name="userType" value="BUSINESS">
    I am a local business owner<i class="glyphicon glyphicon-question-sign"></i>
  </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" class="userType" name="userType" value="PUBLISHER">
      I am  a publisher<i class="glyphicon glyphicon-question-sign"></i>
    </label>
  </div>
</div>
    <div class="control-group">
      <label for="firstName" class="control-label">First Name<span class="required">*</span></label>
      <div class="controls">
        <input type="text" name="firstName" class="firstName form-control" />
      </div>
    </div>
    <div class="control-group">
      <label for="lastName" class="control-label">Last Name<span class="required">*</span></label>
      <div class="controls">
        <input type="text" name="lastName" class="lastName form-control" />
      </div>
    </div>    
    <div class="control-group">
      <label for="username" class="control-label">Email/Username<span class="required">*</span></label>
      <div class="controls">
        <input type="email" name="email" class="username form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password<span class="required">*</span></label>
      <div class="controls">
        <input type="password" name="password" class="password form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password-confirm" class="control-label">Confirm Password</label>
      <div class="controls">
        <input type="password" name="password-confirm" class="password-confirm form-control" />
      </div>
    </div>
  </div>
<div>&nbsp;</div>
  <p>
    <span class="required pull-left">*required</span><button type="submit" class="btn btn-info pull-right">Sign Up	</button>
  </p>
</form>
</div>