<div class="register container">

<div class="col-md-3 steps">
<h5 class="lead gray">Benefits for Local Businesses</h5>
<p class="lead"><i class="icon-check"></i>FREE until 2014! ... Don't worry, we'll maintain a free plan thereafter. Paid plans to start at $20/month.</p>
<p class="lead"><i class="icon-check"></i>Manage your social media promotions from one place. </p>
<p class="lead"><i class="icon-check"></i>Update your website automagically with our widgets.</p>
<p class="lead"><i class="icon-check"></i>Syndicate your events to publishers in the Hoopla.io Network. </p>
</div>
<div class="col-md-3 steps">
<h5 class="lead gray">Benefits for Publishers</h5>
<p class="lead"><i class="icon-check"></i>FREE local event content!</p>
<p class="lead"><i class="icon-check"></i>FREE widgets and API for easy integration.</p>
<p class="lead"><i class="icon-check"></i>PLUS, earn revenue through our referral program ... coming 2014. </p>
</div>

<div class="col-md-6">
<form class="register-form form-horizontal well">
  <div class="register-div">
<h3>Sign Up Today - Free!</h3>
  <div class="alert alert-danger alert-dismissable col-md-12">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span class="message"></span>
  </div>
    <div class="control-group">
      <label for="username" class="control-label">Email/Username<span class="required">*</span></label>
      <div class="controls">
        <input type="email" name="email" class="username form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password<span class="required">*</span></label>
      <div class="controls">
        <input type="password" name="password" class="password form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password-confirm" class="control-label">Confirm Password<span class="required">*</span></label>
      <div class="controls">
        <input type="password" name="password-confirm" class="password-confirm form-control" />
      </div>

    </div>
	  
  </div>

	<p>
	    <span class="required pull-left">*required</span><button type="submit" class="btn btn-success pull-right">Sign Up Now</button>
	  </p>
</form>

</div>



</div>