<div class="register container">


<div class="col-md-6 steps">

<p class="lead"><i class="icon-check"></i> Create a free Hoopla.io user account, we won't be charging until 2014.</p>
<p class="lead"><i class="icon-check"></i> Log in and add your business profile.</p></li>
<p class="lead"><i class="icon-check"></i> Connect your social media networks.</p>
<p class="lead"><i class="icon-check"></i> Create your events.</p>
<p class="lead"><i class="icon-check"></i> Generate a website widget for your website.</p>
<p class="lead"><i class="icon-check"></i> Publish your event to your social networks and website in one click.</p>
<p class="lead"><i class="icon-check"></i> Syndicate your event through our media partners.</p>
</div>
<form class="register-form form-horizontal col-md-6 well">
  <div class="register-div">
  <div class="alert alert-danger alert-dismissable col-md-12">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span class="message"></span>
  </div>
  <div class="control-group userType">
  <div class="radio">
  <label>
    <input type="radio" class="userType" name="userType" value="BUSINESS">
    I am a local business owner
  </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" class="userType" name="userType" value="PUBLISHER">
      I am  a publisher
    </label>
  </div>
</div>
    <div class="control-group">
      <label for="username" class="control-label">Email/Username<span class="required">*</span></label>
      <div class="controls">
        <input type="email" name="email" class="username form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password<span class="required">*</span></label>
      <div class="controls">
        <input type="password" name="password" class="password form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password-confirm" class="control-label">Confirm Password<span class="required">*</span></label>
      <div class="controls">
        <input type="password" name="password-confirm" class="password-confirm form-control" />
      </div>
    </div>
  </div>
<div>&nbsp;</div>
  <p>
    <span class="required pull-left">*required</span><button type="submit" class="btn btn-success pull-right">Sign Up	</button>
  </p>
</form>
</div>