<div class="register"><h2>Create a User Account</h2><div class="row">
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span class="message"></span>
  </div>
</div>

<div class="col-md-6"><h3>Benefits of the platform and what to expect after signing up</h3>
<h5>It's the bee's knees. All the kids are doing it.</h5>
<ol>
<li>Create a Hoopla.io user account</li>
<li>Add your business</li>
<li>Connect your social media networks</li>
<li>Create your event</li>
<li>Publish your event to your social networks and website in one click!</li>
<li>Syndicate your event through our media partners</li>
</ol>
</div>
<form class="register-form form-horizontal col-md-6">
  <div class="register-div">
    <div class="control-group">
      <label for="name" class="control-label">Name<span class="required">*</span></label>
      <div class="controls">
        <input type="text" name="name" class="name form-control" />
      </div>
    </div>
    <div class="control-group">
      <label for="username" class="control-label">Email<span class="required">*</span></label>
      <div class="controls">
        <input type="email" name="email" class="username form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password<span class="required">*</span></label>
      <div class="controls">
        <input type="password" name="password" class="password form-control"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password-confirm" class="control-label">Confirm Password</label>
      <div class="controls">
        <input type="password" name="password-confirm" class="password-confirm form-control" />
      </div>
    </div>
  </div>
<div>&nbsp;</div>
  <p>
    <span class="required pull-left">*required</span><button type="submit" class="btn btn-info pull-right">Register</button>
  </p>
</form>
</div>