<form class="form-horizontal resetPasswordForm" name="resetPasswordForm" >
  <div class="modal-header primary">
    <a href="#" class="pull-right cancel" data-dismiss='modal'><i class="deleteItem glyphicon glyphicon-remove-circle"></i></a>
    <h2>Reset Password</h2>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" style="display:none"></div>
    <div class="control-group">
      <label for="email" class="control-label">Email address</label>
      <div class="controls">
        <input type="email" name="email" class="email" id="email"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password</label>
      <div class="controls">
        <input type="password" name="password" class="password" id="password"/>
      </div>
    </div>
    <div class="control-group">
      <label for="password-confirm" class="control-label">Confirm Password</label>
      <div class="controls">
        <input type="password" name="password-confirm" class="password-confirm" id="password-confirm"/>
      </div>
    </div>    
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>