<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Hoopla.io - Local Events In, Local Events Out</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/client/stylesheets/app.css">
    <script src="/client/javascripts/vendor.js"></script>
    <script src="/client/javascripts/app.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script>require('initialize');</script>
  </head>
  <body>
    {{#if development}}
    <script>
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = "{disabled: true}";
    </script>
    {{/if}}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>  
    <script>
      $.cloudinary.config({ cloud_name: '{{cloudinary.cloudName}}'})
      window.facebookClientId = "{{facebookClientId}}";
    </script>
  </body>
</html>