<div style="text-align:right;margin-bottom:0px!important;">
  <a class="helpTip" data-toggle="tooltip" title="<ul><li>Your image should be in .jpg, .png, or .gif format.</li><li>Choose a high resolution image. Hoopla.io will automatically scale your image.</li><li>For best results across our media partners, we recommend a size of 1024px wide and 576px high.</li></ul>" data-placement="left" data-html='true'>Guidelines <span class="glyphicon glyphicon-question-sign"></span></a>    
</div>
<div id="uploadContainer">
  <div id="drop-target">
    <p style="text-align:center;"><span>Drop an image here</span></br> --<em> or </em>-- 
      <p><a id="choose-image" class="btn btn-info btn-block choose-image-button">Choose an image to upload</a></p>
    </p>
    <div id="filelist"></div>
    <br />
    {{#if standAloneUpload}}
      <input type="button" class="btn btn-success uploadBtn" value="Upload File"/> 
    {{/if}}
  </div>
</div>
