<div id="uploadContainer">
  <div id="drop-target">
    <p style="text-align:center;">Drop an image here</br> or </br>
      <a id="choose-image" class="btn btn-default choose-image-button">Choose an image to upload</a>
    </p>
    <div id="filelist"></div>
    <br />
    
  </div>
</div>