<div id="uploadContainer">
  <div id="drop-target">
    <p>Drag &amp; drop the image here or click Select File below</p>
    <div id="filelist"></div>
    <br />
    <a id="choose-image" href="#">[Select file]</a>
  </div>
</div>