<div class="well">
    <a href="#" class="thumbnail" id="{{{_id}}}">
      <img data-src={{{thumbUrl}}} src={{{thumbUrl}}} class="media-item img-responsive" alt="media image" id="{{{_id}}}" />
    </a>
</div>