<div id="uploadContainer">
  <div id="drop-target">
    <p style="text-align:center;"><span>Drop an image here</span></br> --<em> or </em>-- 
      <p><a id="choose-image" class="btn btn-info btn-block choose-image-button" style="font-size: 1.9em;
	font-family: 'museoLight';">Choose an image to upload</a></p>
    </p>
    <div id="filelist"></div>
    <br />
    {{#if standAloneUpload}}
      <input type="button" class="btn btn-success uploadBtn" value="Upload File"/> 
    {{/if}}
  </div>
</div>
