<div id="uploadContainer">
  <div id="drop-target">
    <p style="text-align:center;">Drop an image here</br> or </br><a id="choose-image" class="choose-image-button" href="#"><button type="button" class="btn btn-sm btn-success">Choose an image to upload</button></a></p>
    <div id="filelist"></div>
    <br />
    
  </div>
</div>