
<div id="uploadContainer">
  <div id="drop-target">

<a id="choose-image" class="btn btn-default btn-block choose-image-button">Choose an image to upload</a>

    <div id="filelist"></div>
    <br />
    {{#if standAloneUpload}}
      <input type="button" class="btn btn-success uploadBtn" value="Upload File"/> 
    {{/if}}
  </div>
</div>
