<div class="row" style="min-height:200px;">
  <div class="col-xs-5 col-lg-3">
    <ul class="nav nav-pills nav-stacked">
      <li class="active facebookTab"><a href="#">Facebook</a></li>
      <li class="twitterTab"><a href="#">Twitter</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-lg-8" id="facebookPanel">
    <div class="row">
      <div class="col-xs-6 col-lg-6 facebook-preivew">
          <img src="{{facebookProfileImageUrl}}" class="facebook" />
      </div>
    </div>
    <form class="form-inline promoRequestFormFacebook">      
      <div class="row">
        <div class="col-md-8">
          <label for="description"><i class="glyphicon glyphicon-pencil"></i>Status Message</label>
          <textarea class="form-control span3 message" name="message" placeholder="Status Message..."/>
        </div>
        <div class="col-md-2">
          <label for="start"><i class="glyphicon glyphicon-calendar"></i>When</label>
          <input type="text" class="form-control datePicker promoDate" name="date">
        </div>
         <div class="col-md-2">
          <label for="startTime"><i class="glyphicon glyphicon-time"></i>Start Time</label>
          <input type="text" class="form-control timepicker startTime" name="startTime">
        </div>
        
      </div>
      <div class="form-actions">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-lg-8" id="twitterPanel">
    <div class="row">
      <div class="col-xs-6 col-lg-6 twitter-preview">
        <img src="{{twitterProfileImageUrl}}" alt="twitter profile image"/>
      </div>
    </div>
     <form class="form-inline promoRequestFormTwitter">
      <div class="row">
        <div class="col-md-8">
          <label for="description"><i class="glyphicon glyphicon-pencil"></i>Tweet</label>
          <textarea class="form-control span3 message" name="message" placeholder="Tweet"/>
        </div>
        <div class="col-md-2">
          <label for="start"><i class="glyphicon glyphicon-calendar"></i>When</label>
          <input type="text" class="form-control datePicker promoDate" name="date">
        </div>
         <div class="col-md-2">
          <label for="startTime"><i class="glyphicon glyphicon-time"></i>Start Time</label>
          <input type="text" class="form-control timepicker startTime" name="startTime">
        </div>
       
      </div>
      <div class="form-actions">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>