<div class="row">
  <div class="col-xs-6 col-lg-4">
    <ul class="nav nav-pills nav-stacked nav-justified">
      <li class="active"><a href="#facebook">Facebook</a></li>
      <li><a href="#twitter">Twitter</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-lg-8">
    <form class="form-inline promoRequestForm">
      <p>What do you want to say?</p>
      <textarea class="form-control span3 message" name="message" placeholder="Status Message..."/>
      <p>When do you want to say it?</p>
      <input type="text" class="form-control datePicker promoDate" name="date">
      <div class="image-selection"></div>
    </form>
  </div>
</div>