{{#if fbPages.length}}

<h5 for="pageSelection">Post to this Facebook page</h5>
<select class="chozn chozn-select pageSelection">
  {{#each fbPages}}
    <option value={{id}} >{{name}}</option>
  {{/each}}
</select>

{{/if}}