<div class="row">
  <div span class="col-md-3">
    <a class="btn btn-success createButton">Create New Event <i class="glyphicon glyphicon-cloud-upload"></i></a>
  </div>
  <div span class="col-md-6 alert-container">
    <div class="alert alert-success listAlert"></div>
  </div>
  <div span class="col-md-3">
    <div class="btn-group pull-right list-options">
      <a href="/myEvents/past" class="btn btn-default">Past Events</a>
      <a href="/myEvents" class="btn btn-info">Upcoming Events</a>
    </div>
  </div>
</div>
<div class="newEvent"></div>
<div class="panel-group clear" id="accordion"></div>
