<div class="btn-group">
  <button type="button" class="btn btn-default">Past Events</button>
  <button type="button" class="btn btn-default">Upcoming Events</button>
</div>
<div class="panel-group" id="accordion">

</div>
