<div class="col-md-3">
  Date Here
</div>
<div class="col-md-3">
  {{name}}
</div>
<div class="col-md-3">
  {{businessName}}
</div>
<div class="col-md-3">
  <a class="btn edit">Edit Me</a><a class="btn deleteButton">Delete Me</a>
</div>      
