<div class="btn-group">
  <a href="/myEvents/past" class="btn btn-default">Past Events</a>
  <a href="/myEvents" class="btn btn-default">Upcoming Events</a>
</div>
<div class="panel-group" id="accordion">

</div>
