{{#if isEmpty}}
<div class="well initial-state">
  <img src="/client/images/howie-initial.png" class="pull-left">
  <h2>You currently have no upcoming events to display.</h2>
  {{#if allowCreate}}
  <h3>That's all right, feel free to <a class="createButton">enter an event now</a>.</h3>
  {{else}}
  <h3>Before you can enter an event, you'll need to <a href="/myBusinesses">add a business profile</a>.</h3>
  {{/if}}
  <h4>Don't worry, it's as easy as pulling a rabbit out of a hat.</h4>
</div>
{{/if}}

<div class="row event-list-controls">
  <div class="col-md-4 col-lg-3 col-sm-6 col-xs-3 hideInitial">
    {{#if allowCreate}}
      <a class="btn btn-success createButton hidden-xs">Create New Event <i class="glyphicon glyphicon-cloud-upload"></i></a>
<a class="createButton hidden-sm hidden-md hidden-lg"><i class="glyphicon glyphicon-plus"></i></a>
    {{else}}
      <a class="btn btn-success createButton" disabled="disabled" title="You need a business profile first">Create New Event <i class="glyphicon glyphicon-cloud-upload"></i></a>
    {{/if}}
  </div>
  <div class="col-md-6 list-alert alert-container"></div>
  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 pull-right hideInitial">
	<div class="btn-group pull-right list-options">
      <a href="/myEvents/past" class="btn btn-default pastEvents">Past</a>
      <a href="/myEvents" class="btn btn-default futureEvents">Upcoming</a>
    </div>
  </div>
</div> 

<div class="newItem"></div>
<div class="panel-group clear" id="accordion"></div>
