<h2>My Events</h2>
<div class="btn-group">
  <a href="/myEvents/past" class="btn btn-default">Past Events</a>
  <a href="/myEvents" class="btn btn-info">Upcoming Events</a>
</div>
<div class="panel-group" id="accordion">


</div>
<a class="btn btn-default showMoreButton">Show More</a>
