<div class="row">
  {{#if posts}}
    {{#if isEvent}}
      <div class="col-md-10 event-container">
        <div class=" row event_published">
          <div class="col-md-8 alert alert-success">
            <p>This event has already been posted to Facebook. To make changes to this event you will need to do that directly on Facebook. We are working furiously to add this feature soon.</p>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-10 promotions-container"></div>
    {{/if}}
  {{else}}
    <div class="col-md-10 well no-posts">
      <p>{{emptyState}}</p>
    </div>
  {{/if}}

</div>