<div class="row">
  {{#if posts}}
    {{#if isEvent}}
      <div class="col-md-12 event-container">
        <div class=" row event_published">
          <div class="col-md-12 alert alert-success">
            <p>Customize the Facebook Event page using your Facebook admin account on <a href="http://www.facebook.com">Facebook.com</a></p>
          </div>
        </div>

    {{else}}
      <table class="promotions-container table table-striped"></table>
    {{/if}}
  {{else}}
    <div class="col-md-10 well no-posts">
      <p>{{emptyState}}</p>
    </div>
  {{/if}}

</div>