<div class="row">
  {{#if posts}}
    <div class="col-md-8 promotions-container"></div>
  {{else}}
    <div class="col-md-8 no-facebook-posts">
      <p>You currently have no Facebook Posts scheduled.</p>
    </div> 
  {{/if}}
</div>