<div class="row pr-list-item">
  <div class="pr-date">
    <p>{{promotionTime}}</p>
  </div>
  <div class="pr-image-container">
    <img class="pr-image" src="{{imageUrl}}" alt="promotion image" />
  </div>
  <div class="pr-message-container">
    <p class="pr-message">{{message}}</p>
  </div>
  <div class="controls">
    <a class="delete-pr" href="#"><i class="deleteItem glyphicon glyphicon-remove-circle"></i></a>
  </div>
</div>