<div class="row">
  {{#if posts}}
    {{#if isEvent}}
      <div class="col-md-12 event-container">
        <div class=" row event_published">
          <div class="col-md-12 alert alert-success">
            <p>This FaceBook event has already been created. Customize the Facebook Event page directly from your Facebook admin account</p>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-10 promotions-container"></div>
    {{/if}}
  {{else}}
    <div class="col-md-10 well no-posts">
      <p>{{emptyState}}</p>
    </div>
  {{/if}}

</div>