/* landing page styles
===========================*/
body {
  padding-top: 60px;
  padding-bottom: 0px;
  background: #F7F7F7;
  font-size: 16px;
}
header {
  padding-top: 50px;
}
section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 80px;
  width: 100%;
  min-width: 100%;
  margin-top: -5px;
}
.outer-container {
  margin: 0px;
  padding: 0px;
  max-width: none;
}
.page-header {
  padding-top: 20px;
text-align: center;
}
.justify {
  text-align: justify;
}
/* HEADER
  ============================*/
#head-top {
  position: relative;
  background: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -60px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin-bottom: -9px;
}
#head-top .jumbotron {
  background: none;
  min-height: 300px;
  color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-top: 160px;
}
#head-top .jumbotron h1 {
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.65);
}
.gobtnwrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
}
.gobtn {
  display: inline-block;
  width: 70px;
  height: 40px;
  background: #06a1af;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 15px;
}
.gobtn i {
  color: #c5d645;
}
.gobtn:hover {
  opacity: 0.9;
  text-decoration: none;
}
.problem h1 {
  color: #06a1af;
  font-size: 2.1em;
  margin-top: 25%;
}
.solution h1 {
  color: #06a1af;
  font-size: 2.1em;
  margin-top: 25%;
}
#topnav .upper-nav {
  position: absolute;
  top: -2px;
  right: 10px;
  font-size:.8em;
}
#topnav .upper-nav a {
  float:left;
  margin: 10px;
      color:#c5d645;
}
#topnav a {
    font-family:'quicksandbold';
  }
a.to-top {
  position: fixed;
  bottom: 0px;
  right: 20px;
  background-color: #06A1AF;
  color:#fff;
  padding:5px 10px;
  border-radius:4px 4px 0px 0px;
  font-family:'museo';
  box-shadow:0px 0px 5px rgba(0,0,0,.7);
}
/* SECTIONS
    ===========================*/
nav.signup {
  padding: 10px;
  text-align: center;
  color: #c5d645;
}
nav.signup div {
  margin: 0px auto;
  width: 60%;
}
nav.signup input.form-control {
  width: 32%;
  float: left;
  margin-left: 2%;
  height: 44px;
  font-size: 1.5em;
}
nav.signup h4 {
  display: inline-block;
  float: left;
font-size:1.4em;
}
.success {
  color: #c5d645;
}
.primary {
  color: #06a1af;
}
#Businesses {
  background: #06a1af;
  color: #fff;
}
#Publishers {
  background: #c5d645;
  color: #3e3f42;
}
#Businesses i {
  
  color:#c5d645;
}
#Publishers i {
  
  color:#06a1af;
}
.well {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#Businesses .well {
  /*background-color:#34495e;*/

  background: url('/client/images/landing/bar.jpg') 0% 0% fixed repeat;
  color: #fff;
  margin-bottom: -100px;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.well .lead, #Publishers .well .lead p.dev-cta{
  font-size: 220%;
text-shadow: 0px 0px 5px #000;
color:#fff!important;
font-family:'quicksandbold';
}
#Publishers .well {
  background: url('http://farm7.staticflickr.com/6208/6035958264_2bbd2735f4_o.jpg') 0% 0% fixed repeat;
  margin-bottom: -100px;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
#About {
  background: #3e3f42;
  color: #999999;
}
#About h2,
#About h3 {
  color: #fff;
}
#Contact {
  background: #5dade2;
}
#Contact h2,
#Contact h3 {
  color: #fff;
}
hr {
  margin: 40px 0px;
}
hr,
.page-header {
  border-color: rgba(250, 250, 250, 0.1);
}
#Publishers p {
  color: #555555;
}
.page-header h2,
.page-header h3 {
  font-weight: 100;
  font-size: 46px;
  line-height: 46px;
  color:#fff;
}
.box {
  margin-bottom: 30px;
min-height: 400px;
}
.about-box {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
}
.about-box h3,
.about-box h4 {
  border-bottom: 1px solid #fff;
}
.about-box h3 span,
.about-box h4 span {
  border-bottom: 2px solid #fff;
  display: inline-block;
}
.register-form {padding: 20px;
background-color: rgb(69, 70, 66);
border-radius: 19px;
color:#fff;
}
.register-form .radio label {color: #c5d645;}
.userType {margin-bottom:20px;}
.register-form label {color: #c5d645;font-family:'quicksandlight';}
/* FOOTER
    ================================*/
footer {
  display: inline-block;
  width: 100%;
  min-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 200px;
  background: #292C37;
  color: #fff;
}
footer .circ-wrap {
  float: left;
  margin: 10px;
}
footer .circ-wrap a {
  color: #fff;
}
footer .circ-wrap a:hover {
  text-decoration: none;
}
/* NAVIGATION 
    =============================== */
.navbar .nav > li > a {
  font-family: 'quicksandbold';
  float: none;
  padding: 55px 15px 13px;
  color: #06a1af;
  text-decoration: none;
  text-shadow: none;
  font-size: 14px;
  font-wight: bold;
  text-transform: uppercase;
  border-top: 10px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #c5d645;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #06a1af;
  text-decoration: none;
  background: none;
  border-bottom: 10px solid #c5d645;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-brand {
  padding: 6px 15px;
  color: #fc5242;
  text-shadow: none;
  font-size: 26px;
  font-weight: 100;
  margin-right: 30px;
  max-width: 300px;
}
.navbar {
  -webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
}
.navbar {
  min-height: 100px;
  padding-right: 20px;
  padding-left: 20px;
  background: #fff;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: dashed 1px #c5d645;
}
/* ICONS WRAPERS
  ===========================*/
.circ-wrap {
  width: 98px;
  height: 98px;
  margin: 0 auto 10px;
  line-height: 95px;
  text-align: center;
  border: 1px solid rgba(250, 250, 250, 0.9);
  border-radius: 50px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Carousel
  ==============================*/
.carousel-indicators {
  top: 0px;
  left: 95%;
}
.carousel-control {
  position: absolute;
  top: 0%;
  width: 40px;
  height: 100%;
  font-size: 30px;
  padding-top: 10px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-shadow: #06a1af;
}
.carousel-control i {
  position: absolute;
  top: 40%;
  z-index: 5;
  display: inline-block;
}
.carousel-control.right {
  left: auto;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: none;
  color: #06A1AF;
}
.carousel-control.left {
  right: auto;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: none;
  color: #06A1AF;
}
#myCarousel2 .carousel-control.left {
  right: auto;
  left: -50px;
}
#myCarousel2 .carousel-control.right {
  left: auto;
  right: -20px;
}
/* add new to change BS 3.0. latest styles **/
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  height: 20px;
  z-index: 15;
  width: 20%;
  padding-left: 0;
  margin-left: -110px;
  text-align: center;
  list-style: none;
}
/* TEAM
  ==============================*/
.social-contacts a i {
  text-decoration: none;
  color: #06a1af;
}
.social-contacts a i:hover {
  color: #335E7C;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
}
.social-contacts a:hover {
  text-decoration: none;
}
.bio div {margin-bottom:40px;}
.bio h3 {font-family:'museoLight';}
.bio h4, .bio h5{font-family:'quicksand';}
/* PRODUCTS
  ==============================*/
.thumbnail.product-item {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  overflow: hidden;
  max-height: 300px;
  padding-top: 20px;
  background: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
/* Progress bars
   ================================*/
.progress,
.ui-slider {
  background: #e8edf2;
  border-radius: 32px;
  height: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar {
  height: 20px;
}
.progress .bar,
.ui-slider .bar {
  background: #1abc9c;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar-success,
.ui-slider .bar-success {
  background-color: #2ecc71;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar-warning,
.ui-slider .bar-warning {
  background-color: #FFAA49;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar-danger,
.ui-slider .bar-danger {
  background-color: #e74c3c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar-info,
.ui-slider .bar-info {
  background-color: #3498db;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar .btn-navbar {
  float: right;
  padding: 20px 20px;
  margin: 0px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #292425;
  background-image: none;
  border-color: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#myCarousel1 .item {min-height:305px;}
#myCarousel2 .item {min-height:370px;}

/* @media width
  ====================================*/
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed !important;
  }
  .navbar .nav > li > a {
    padding: 30px 10px;
  }
  .jumbotron h1 {
    font-size: 40px;
  }
  .carousel-control {
    top: 0%;
  }
  .carousel-control.left {
    left: -10px;
    z-index: 1020;
  }
  .carousel-control.right {
    right: 5px;
    z-index: 1020;
  }
  #head-top {
    min-height: auto;
  }
}
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-inverse .navbar-inner {
    min-height: 30px;
  }
  .navbar .navbar-brand {
    padding: 15px 0px 10px;
  }
  .navbar .navbar-brand {
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: -20px;
  }
  .navbar .nav > li > a {
    float: none;
    padding: 15px 20px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  /* FIX FONT SIZE AND jumbotron padding in HEADER FOR MOBILE DEVICES 07/16/2013 */
  #head-top .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 100px;
    padding-bottom: 15px;
  }
  #head-top .jumbotron h1 {
    font-size: 24px;
    text-align: center;
  }
  #head-top .jumbotron .lead {
    font-size: 16px;
    text-align: center;
  }
  /* END: FIX HEADER FOR MOBILE DEVICES 07/16/2013 */
  .page-header h3 {
    font-weight: 100;
    font-size: 32px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  /* CIRCULE ICONS FIX SIXE FOR MOBILES */
  .circ-wrap {
    width: 58px;
    height: 58px;
    line-height: 30px;
  }
  .icon-4x {
    font-size: 2em;
  }
  #myCarousel2 .carousel-control.left {
    right: auto;
    left: -40px;
  }
  #myCarousel2 .carousel-control.right {
    left: auto;
    right: -20px;
  }

}
@media (max-width: 480px) {

}
/**************************** PRICE BOX BODY **************************/
.pricing-table {

text-align:center;
font-weight:400;
border:6px solid #1ABC9C;
margin-bottom:30px;
background:#fff;

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.pricing-table:hover{
-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
}



/******************************** ROUND CORENERS ************************/

.rounded{
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/******************************** COLORS BODY *************************/
.pricing-table.green {

text-align:center;
font-weight:400;
border:6px solid #2ECC71;
}

.pricing-table.red {

text-align:center;
font-weight:400;
border:6px solid #E74C3C;
}

.pricing-table.orange {

text-align:center;
font-weight:400;
border:6px solid #F39C12;
}

.pricing-table.dark-blue {

text-align:center;
font-weight:400;
border:6px solid #34495E;
}

.pricing-table.blue {

text-align:center;
font-weight:400;
border:6px solid #3498DB;
}

/********************************** BOX CONTENT ************************/
.pricing-table-sign-up {
  border-top:1px solid #BDC3C7;
  padding:10px 20px;
  text-align:center;
  background:#ECF0F1;
}

.pricing-table-features p {
  
  padding:5px 20px;
  text-align:center;
}
.pricing-table-features p:nth-child(2n){
  background:#ECF0F1;
}

.pricing-table-features, .pricing-table-space{
  background:#fff;
}

.pricing-table p{
    padding:5px;
    margin-top:5px;
    font-size:110%;
    font-weight:400;
    background:#fff;
  }
  .pricing-table p strong{
    font-weight:600;
  }
  
  
/********************************* BOX HEADER ********************************/
  .pricing-table .pricing-table-header {
  color:#fff;
  background: #1ABC9C;
  padding:0px;
}

  .pricing-table-header .heading{
  display:inline-block;
  width:100%;
  padding:15px 0px;
  text-transform:uppercase;
  
}

/**************************** COLOR BOX HEDER ***************************/
  
  .pricing-table.orange .heading{
    background: #F39C12;
  }
  
  .pricing-table.green .heading{
    background: #2ECC71;
  }
  
  .pricing-table.red .heading{
  background: #E74C3C;
  }
  
  .pricing-table.dark-blue .heading{
  background: #34495E;
  }
  
  .pricing-table.blue .heading{
  background: #3498DB;
  }


.pricing-table .pricing-table-header .price-value{
  background: #16A085;

}

.pricing-table.red .pricing-table-header .price-value{
  background: #C0392B;

}

.pricing-table.orange .pricing-table-header .price-value{
  background: #D35400;

}
.pricing-table.green .pricing-table-header .price-value{
  background: #27AE60;

}

.pricing-table.dark-blue .pricing-table-header .price-value{
  background: #2C3E50;

}

.pricing-table.blue .pricing-table-header .price-value{
  background: #2980B9;

}

.pricing-table-header .price-value {
  display:inline-block;
  width:100%;
  padding:20px 0px;
  background: #1ABC9C;
}

.pricing-table-header .price-value span{
  font-size:300%;
}
.pricing-table-header .price-value span.mo{
  font-size:200%;
}
strong {font-family:'quicksandbold';}
#About p.lead , #About ul{color:#06a1af;}
#foot-sec .social .circ-wrap {
display: inline-block;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
}