<form role="form" class="form-inline">
  <div class="row">
    <div class="col-md-12 col-sm-4 col-lg-12">
      {{#if isNew}}
      <legend><img src="/client/images/icon-magic-wand.png">&nbsp;Create New Business <span class="required pull-right">*required</span></legend>
      {{else}}
      <legend><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Business <span class="required pull-right">*required</span></legend>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-4 col-lg-6">
      <div>
        <label for="name"><i class="glyphicon glyphicon-star"></i>Business Name<span class="required">*</span></label>
        <input type="text" class="form-control name" name="name" placeholder="Business Name">
      </div>   
      <div class="geoLocation">
      </div> 
      <div>
        <label><i class="glyphicon glyphicon-pencil"></i>Business Description<span class="required">*</span></label>
        <textarea id="description-textarea"  name="description" class="form-control description" placeholder="Enter your description ..."></textarea>     
      </div>          
      <div>
        <label class=""><i class="glyphicon glyphicon-globe"></i>Business Website</label>
        <input type="url" class="form-control" name="website" placeholder="Website" />
      </div>    
      <div>
        <label class=""><i class="glyphicon glyphicon-user"></i>Contact Name</label>
        <input type="text" class="form-control" name="contactName" placeholder="Name" />
      </div>
      <div>
        <label class="">Contact Email</label>
        <input type="email" class="form-control email" name="contactEmail" placeholder="Email" />
      </div>        
      <div>
        <label class=""><i class="glyphicon glyphicon-phone"></i>Contact Phone</label>
        <input type="phone" class="form-control phone" name="contactPhone" placeholder = "Phone"/>
      </div>          
    </div>
    <div class="col-md-6 col-sm-4 col-lg-6">
      <div>
        <label for="imageUrl"><i class="glyphicon glyphicon-picture"></i>Business Logo</label>
        <div class="well"  id="image-chooser-container">    
          <div class="profileImage">
            <img src="{{imageUrl}}" class="currentImage"/>
          </div>
          <div class="image-controls">
            <div class="imageChooser"></div>
              {{#if hasMedia}}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#media-library-popover-{{id}}">Browse Library</button>
              {{/if}}
            </div>
          </div>
           <div class="default-image-actions"><a href="#" class="btn btn-success change-image-btn">Change Image</a></div>
        </div>
      </div>  
      <div>
        <label class=""><i class="glyphicon glyphicon-cog"></i>Facebook Profile URL</label>
        <input type="url" name="facebookUrl" class="form-control facebook" placeholder="Facebook Profile URL"/>
      </div>
      <div>
        <label class=""><i class="glyphicon glyphicon-cog"></i>Twitter Profile URL</label>
        <input type="url" class="form-control twitter" name="twitterUrl" placeholder="Twitter Profile URL"/>
      </div>
      <div>
        <label class=""><i class="glyphicon glyphicon-cog"></i>Foursquare Profile URL</label>
        <input type="url" class="form-control foursquare" name="foursquareUrl" placeholder="Foursquare Profile URL"/>
      </div> 
      <div class="pull-right">
        <button type="submit" class="btn btn-info saveButton">Submit</button>
        <a class="btn btn-default cancel">Cancel</a>
      </div>               
    </div>
  </div>
</form>
<div class="modal fade" id="media-library-popover-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>My Media Library</h4>
      </div>
      <div class="modal-body library-contents">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
