<div class="row">
  <form role="form">
    <div class="col-md-8 col-lg-8 col-sm-8">
      <fieldset>
        <legend>Create Business</legend>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control name" name="name" placeholder="Business Name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea id="description-textarea"  name="description" class="form-control description" placeholder="Enter your description ..."></textarea> 
        </div>
        <div class=form-group">
          {{#if mediaUrl}}
            <img src="{{mediaUrl}}" class="currentImage" alt="profile image"/>
          {{/if}}
        </div>
        <div class="form-group imageChooser">
         
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </fieldset>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 geoLocation">
    </div>
  </form>
</div>
