
  <form role="form" class="form-inline">
    <div class="row">
      <div class="col-md-6 col-sm-4 col-lg-6">
      <legend>Create Business</legend>
          <label for="name">Business Name</label>
          <input type="text" class="form-control name" name="name" placeholder="Business Name">
          <div class="geoLocation">
          </div>
          <label>Business Description</label>
          <textarea id="description-textarea"  name="description" class="form-control description" placeholder="Enter your description ..."></textarea>     
          <label class="sr-only">Website</label>
          <input type="url" class="form-control" name="website" placeholder="Website" />
          <h4>Business Contact Info</h4>
          <label class="sr-only">Contact Name</label>
          <input type="text" class="form-control" name="contactName" placeholder="Name" />
          <label class="sr-only">Contact Email</label>
          <input type="email" class="form-control email" name="contactEmail" placeholder="Email" />
          <label class="sr-only">Contact Phone</label>
          <input type="phone" class="form-control phone" name="contactPhone" placeholder = "Phone"/>
        </div>        
          <div class="col-md-6 col-sm-4 col-lg-6">
            <div class="well">
            <h4>Profile Image</h4>        
            <div class="profileImage">
              {{#if imageUrl}}
                <img src="{{imageUrl}}" class="currentImage"/>
              {{/if}}
            </div>
            <div class="imageChooser"></div>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#media-library-popover">Browse Library</button>
            </div>
            <h4>Social Media</h4>
            <label class="sr-only">Facebook Profile URL</label>
            <input type="url" name="facebookUrl" class="form-control facebook" placeholder="Facebook Profile URL"/>
            <label class="sr-only">Twitter Profile URL</label>
            <input type="url" class="form-control twitter" name="twitterUrl" placeholder="Twitter Profile URL"/>
            <label class="sr-only">Foursquare Profile URL</label>
            <input type="url" class="form-control foursquare" name="foursquareUrl" placeholder="Foursquare Profile URL"/>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-warning cancel">Cancel</a>
            </div>
          </div>
        </div>
      
    
   
  </form>
  <div class="modal fade" id="media-library-popover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>My Media Library</h4>
        </div>
        <div class="modal-body library-contents">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveButton">Save changes</button>
        </div>
      </div>
    </div>
  </div>
