<div class="row"><h2>My Businesses</h2></div>
<div class="row"><button class="btn btn-primary">Create Business</button></div>
<div class="alert alert-danger listAlert hide"></div>
<br />
<div class="event-list-container"></div>