<div class="col-md-8">
<form class="form-inline" role="form">
  <div class="row">
    <div class="col-8">
      <legend>Widget Builder</legend>
      <div class="form-group">
        <select name="widgetType" class="form-control widgetType select-chosen">
            <option value="event-by-location">Event Discovery</option>
            <option value="event-by-business">MyBusiness</option>
        </select>
      </div>
    </div>   
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="name">Name</label>
      <input type="text" class="form-control name" name="name" placeholder="Name">
    </div>
    <div class="col-md-2">
      <label for="width">Width</label>
      <input type="text" class="form-control width" name="width">
    </div>
    <div class="col-md-2">
      <label for="height">Height</label>
      <input type="text" class="form-control" name="height">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 event-by-location">
      <label for="tags">Event Tags</label>
      <select class="form-control select-chosen" multiple="true" name="tags">
        {{#each eventTags}}
          <option value="{{attributes.slug}}">{{attributes.text}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-md-4 event-by-business">
      <label for="tags">Businesses</label>
      <select class="form-control select-chosen" multiple="true" name="businesses">
        {{#each businesses}}
          <option value="{{id}}">{{attributes.name}}</option>
        {{/each}}
      </select>
    </div>    
    <div class="col-md-2">
      <label for="widgetStyle">Theme</label>
        <select name="widgetStyle" class="form-control widgetStyle select-chosen">
            <option value="dark">Dark</option>
            <option value="light">Light</option>
        </select>
    </div>            
  </div>
  <div class="row event-by-location">
    <div class="col-md-4 geoLocation"></div>
    <div class="col-md-2">
      <label for="radius">Radius</label>
      <select name="radius" class="form-control">
        <option value="1609">1</option>
        <option value="8047">5</option>
        <option value="16093">10</option>
        <option value="32186">20</option>
        <option value="80467">50</option>
      </select>
    </div>
  </div>    
</form>
</div>
<div class="col-md-4">
  <iframe src="" id="widgetPreview"></iframe>
  <div class="row">
      <a class="btn btn-default saveButton">Save</a>
      <a class="btn btn-default previewButton">Preview</a>
  </div>
</div>