<div class="col-md-7">
<form class="" role="form">
  <div class="row">
    <div class="col-8">
      <legend>Widget Builder</legend>
    </div>   
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="radio">
        <label>
          <input type="radio" class="widgetType" name="widgetType" value="event-by-location">
          Location Widget <i class="glyphicon glyphicon-question-sign"></i>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="widgetType" name="widgetType" value="event-by-business">
          Events for My Business <i class="glyphicon glyphicon-question-sign"></i>
        </label>
      </div>        
  </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="name">Name</label>
      <input type="text" class="form-control name" name="name" placeholder="Name">
    </div>
    <div class="col-md-2">
      <label for="width">Width</label>
      <input type="text" class="form-control width" name="width">
    </div>
    <div class="col-md-2">
      <label for="height">Height</label>
      <input type="text" class="form-control" name="height">
    </div>
	<div class="col-md-2">
      <label for="widgetStyle">Theme</label>
        <select name="widgetStyle" class="form-control widgetStyle select-chosen-nosearch">
            <option value="dark">Dark</option>
            <option value="light">Light</option>
        </select>
    </div>
    <div class="col-md-2">
     <label for="accentColor">Link Color</label>
      <input type="color" class="colorpicker" name="accentColor">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 event-by-location">
      <label for="tags">Event Tags</label>
      <select class="form-control select-chosen" multiple="true" name="tags">
        {{#each eventTags}}
          <option value="{{attributes.slug}}">{{attributes.text}}</option>
        {{/each}}
      </select>
    </div>                 
  </div>
<div class="row">
<div class="col-md-12 event-by-business">
  <label for="tags">Businesses</label>
  <select class="form-control select-chosen" multiple="true" name="businesses">
    {{#each businesses}}
      <option value="{{id}}">{{attributes.name}}</option>
    {{/each}}
  </select>
</div>
</div>
  <div class="row event-by-location">
    <div class="col-md-10 geoLocation"></div>
    <div class="col-md-2">
      <label for="radius">Radius</label>
      <select name="radius" class="form-control">
		  <option selected="selected">Search Radius</option>
        <option value="1609">1</option>
        <option value="8047">5</option>
        <option value="16093">10</option>
        <option value="32186">20</option>
        <option value="80467">50</option>
      </select>
    </div>
  </div>
  <div class="row widgetHelp well">
    <div class="col-md-12">
      Widget Builder Explanations will go here
    </div>
  </div>
  <div class="row embedCode">
    <div class="col-md-9">
      <textarea class="embedCodeHtml"></textarea>
    </div>
  </div><br />
<div class="row widgetPreviewControls">
    <div class="btn-group">
      <button type="cancel" class="btn btn-default pull-left cancelButton">Cancel</button>
      <button type="button" class="btn btn-success-sm saveButton pull-right">Save</button>
    </div>
  </div>
</form>
</div>
<div class="col-md-5 widgetPreviewContainer">
  <div class="static-widget-preview"><img src="http://placehold.it/350x350""></div>
  <iframe src="" scrolling="no" id="widgetPreview"></iframe>
  
</div>