<div class="col-md-7">
<div class="hidden-sm hidden-med hidden-lg">
<h4>Widget editing is not currently supported at small screen sizes, please access Hoopla.io using a tablet or desktop browser for these features.</h4>
</div>
<form class="hidden-xs" role="form">
  <div class="row">
    <div class="col-8">
      <legend>Create New Widget</legend>
    </div>   
	<div class="widgetHelp">
	    <div class="col-md-12">
	      <p class="white">Create a website or WordPress widget to display your venue's event stream or a listing of all local events around a specified location. You can even filter your local event listing by category and radius, if you wish.</p>
	<p class="white">Choose a widget type:</p>
	    </div>
	  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
	<div class="radio">
        <label>
          <input type="radio" class="widgetType" name="widgetType" value="event-by-location">
          <h4>Location-Based Events</h4><span class="normal">Display upcoming events occurring around a specific address or zip code. Filter by event categories or radius around the specified location. Great for neighborhoods, hotels and resorts.</span>
        </label>
      </div>
<hr>
      <div class="radio">
        <label>
          <input type="radio" class="widgetType" name="widgetType" value="event-by-business">
          <h4>My Business/Venue Events</h4><span class="normal">Display your events on your website. Great for bars, restaurants, galleries, event spaces, communities or anywhere that hosts events or specials.</span>
        </label>
      </div>        
  </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="name">Name*</label>
      <input type="text" class="form-control name" name="name" placeholder="Name">
    </div>
    <div class="col-md-2">
      <label for="width">Width(px)</label>
      <input type="text" class="form-control width" name="width">
    </div>
    <div class="col-md-2">
      <label for="height">Height(px)</label>
      <input type="text" class="form-control" name="height">

    </div>
	<div class="col-md-2">
      <label for="widgetStyle">Theme</label>
        <select name="widgetStyle" class="form-control widgetStyle select-chosen-nosearch">
            <option value="dark">Dark</option>
            <option value="light">Light</option>
        </select>
    </div>
    <div class="col-md-2">
     <label for="accentColor">Text</label>
      <input type="color" class="colorpicker" name="accentColor">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 event-by-location">
      <label for="tags">Event Categories</label>
      <select class="form-control select-chosen" multiple="true" name="tags">
        {{#each eventTags}}
          <option value="{{attributes.slug}}">{{attributes.text}}</option>
        {{/each}}
      </select>
    </div>                 
  </div>
<div class="row">
<div class="col-md-12 event-by-business">
  <label for="tags">For This Business</label>
  <select class="form-control select-chosen" multiple="true" name="businesses">
    {{#each businesses}}
      <option value="{{id}}">{{attributes.name}}</option>
    {{/each}}
  </select>
</div>
</div>
  <div class="row event-by-location">
    <div class="col-md-10 geoLocation"></div>
    <div class="col-md-2">
      <label for="radius">Radius</label>
      <select name="radius" class="form-control">
		  <option selected="selected">Search Radius</option>
        <option value="1609">1</option>
        <option value="8047">5</option>
        <option value="16093">10</option>
        <option value="32186">20</option>
        <option value="80467">50</option>
      </select>
    </div>
  </div>
  
  <div class="row embedCode">
    <div class="col-md-12">
<label class="normal">Copy and paste the code snippet below into your html page or WordPress HTML widget. If you'd like the widget to span the entire width of your page or article, change the width in the iframe widget to 100%;</label>
      <textarea class="embedCodeHtml"></textarea>
    </div>
  </div><br />
<div class="row widgetPreviewControls">
    <div class="">
<button type="cancel" class="btn btn-default pull-left cancelButton">Cancel</button>&nbsp;  
<button type="button" class="btn btn-success-sm saveButton pull-left">Save Widget Settings</button>
 </div>
  </div>
</form>
</div>
<div class="col-md-5 widgetPreviewContainer hidden-xs">
  <div class="static-widget-preview"><img src="/client/images/widget-placeholder.png"></div>
  <iframe src="" scrolling="no" id="widgetPreview"></iframe>
  
</div>
