<div class="row">
{{#if isEmpty}}
<div class="well initial-state"><img src="client/images/howie-initial.png" class="pull-left"><h2 class="primary">You currently have no widgets or API Keys to display.</h2><h3>That's all right, feel free to <a class="createButton">create a widget for your website</a>.</h3> <h4>It's as simple as 1, 2, 3 Abracadabra!</h4></div>
{{else}}
  <div span class="col-md-3">
    <a class="btn btn-success createButton">Create a Widget <i class="glyphicon glyphicon-cloud-upload"></i></a>
  </div>
{{/if}}
  <div span class="col-md-6 alert-container"></div>
  <div span class="col-md-3">
  </div>
</div>
<div class="newItem row form-container"></div>
<div class="panel-group clear widget-list-container" id="accordion"></div>