{{#if isEmpty}}
  <div class="well initial-state">
    <img src="client/images/howie-initial.png" class="pull-left">
    <h2 class="primary">You currently have no widgets or API Keys to display.</h2>
    <h3>That's all right, feel free to <a class="createButton">create a widget for your website</a>.</h3> 
    <h4>It's as simple as 1, 2, 3 Abracadabra!</h4>
    <div>Hoopla.io is currently publishing information for the Kansas City Metro.  If you are in another market, and would like to know when hoopla.io is available in your area, <a data-toggle="modal" href="#outOfAreaModal">Click here to let us know</a></div>
  </div>
{{/if}}

<div class="row">
  <div span class="col-md-3 hideInitial">
    <a class="btn btn-success createButton hidden-xs">Create a Widget <i class="glyphicon glyphicon-cloud-upload"></i></a>
  </div>
  <div span class="col-md-6 alert-container"></div>
  <div span class="col-md-3">
  </div>
</div>
<div class="newItem row form-container"></div>
<div class="panel-group clear widget-list-container" id="accordion"></div>
<div class="modal fade" id="outOfAreaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="http://Hoopla.us7.list-manage.com/subscribe/post?u=94336a2ab4f8ac2b700347bf6&amp;id=e1a934b815" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="modal-header primary">
        <a href="#" class="pull-right cancel" data-dismiss='modal'><i class="deleteItem glyphicon glyphicon-remove-circle"></i></a>
        <h2>Let me know when Hoopla.io is Available in my Market</h2>
        </div>
        <div class="modal-body" style="color: #fff">
          <div class="alert"></div>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <div class="mc-field-group ">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
              <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LOCATION">Location (City, State)  <span class="asterisk">*</span>
            </label>
              <input type="text" value="" name="LOCATION" class="form-control required" id="mce-LOCATION">
            </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </div>
            <!--End mc_embed_signup-->          
        </div>
        <div class="modal-footer">
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
        </div>
      </form>          
    </div>
  </div>
</div>