<div class="row">
  <div span class="col-md-3">
    <a class="btn btn-success createButton">Create a Widget <i class="glyphicon glyphicon-cloud-upload"></i></a>
  </div>
  <div span class="col-md-6 alert-container"></div>
  <div span class="col-md-3">
  </div>
</div>
<div class="newItem row form-container"></div>
<div class="panel-group clear widget-list-container" id="accordion"></div>