<div class="row">
  <label for="address"><i class="glyphicon glyphicon-map-marker"></i>Enter Custom Address and press "Enter"<span class="required">*</span></label>
  
</div>
<div class="row">
  <input type="text" name="address" class="form-control address" placeholder="Enter custom address - press 'Enter' to save"></input></br>
  <div id="map-canvas" style="height:200px;width:100%;margin:0px"></div>
<div class="row"><a class="btn btn-xs btn-success closeAddress pull-right">Cancel</a></div>
</div>