<div class="row">
  <label for="address"><i class="glyphicon glyphicon-map-marker"></i>Address<span class="required">*</span></label>
  <a class="btn btn-xs btn-success closeAddress pull-right">Close</a>
</div>
<div class="row">
  <input type="text" name="address" class="form-control address" placeholder="Address"></input>
  <div id="map-canvas" style="height:200px;width:538px;margin:0px"></div>
</div>