<label for="address"><i class="glyphicon glyphicon-map-marker"></i>Address<span class="required">*</span></label>
<input type="text" name="address" class="form-control address" placeholder="Enter Full Address - Address/Street, City, State and Zip)"></input>
<div id="map-canvas" style="height:200px;width:100%;margin:0px"></div>