<label for="address"><i class="glyphicon glyphicon-map-marker"></i>Address<span class="required">*</span></label>
<input type="text" name="address" class="form-control address" placeholder="Address"></input>
<div id="map-canvas" style="height:200px;width:538px;margin:0px"></div>