<link rel="stylesheet" href="/client/homeStyles/home-styles.css" >
<nav id="topnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
   	<div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
       <a class="navbar-brand" href="/"><img src="/client/images/hoopla_logo.png" /></a>
   </div>
     <div class="collapse navbar-collapse navbar-ex1-collapse top-spy">
       <ul class="nav navbar-nav navbar-right">
             <li><a href="/#Businesses" class="toBusinesses" onClick="_gaq.push(['_trackEvent', 'Landing_Main_Nav', 'Business', '']);">For Businesses</a></li>
             <li><a href="/#Publishers" class="toPublishers" onClick="_gaq.push(['_trackEvent', 'Landing_Main_Nav', 'Publishers', '']);">For Publishers</a></li>
             <li class='active'><a href="#" onClick="_gaq.push(['_trackEvent', 'Landing_Main_Nav', 'Blog', '']);">Blog</a></li>
       </ul>
     </div>
	<nav class="upper-nav">
	<a href="/#Contact" class="btn btn-info btn-sm toSignUp" onClick="_gaq.push(['_trackEvent', 'Landing_Upper_Nav', 'Sign Up', 'Try it for Free']);">Try It Free!</a>
		<a data-toggle="modal" href="#loginModal" class="sign-in btn btn-default btn-sm" onClick="_gaq.push(['_trackEvent', 'Landing_Upper_Nav', 'Sign In', '']);">Sign In</a>
		
		</nav>
   </div>
 
</nav>
<div class="container blog">
  <div class="col-lg-14 col-md-12 col-xs-16">
<h1>What's all the Hoopla about?</h1>
    <div class="blog-content">
<h5>Posted on September 30, 2013 by Adam Arredondo</h5>
<hr>
      <p>Startup life is ever-morphing. You can never predict what will happen in 2, 5, or even 12 months, and I can honestly say that in the past three years, no two days have ever been the same. I started Local Ruckus three years ago because of one simple problem: it is really hard to find things to do. In the last three years, that little thought has grown by leaps and bounds in ways I could have never anticipated: moving from a small rental office to a snug basement of a residential house in the nation’s first Google Fiber neighborhood, growing our team from just me and one lonely developer (we had a lot of bonding moments, for sure) to a 15-person team of some of the most passionate people I have ever worked with, leading a grassroots initiative that has turned into the <a href="http://www.kcsv.org" class="primary" target="blank">Kansas City Startup Village</a>, and <a href="http://www.siliconprairienews.com/2013/07/local-ruckus-lands-sprint-as-customer-partner-for-national-push" target="blank" class="primary">landing our first customer, Sprint</a>. </p><img src="/client/images/Checklist.png" class="pull-right img-responsive">

	<p><a href="http://www.localruckus.com" class="primary" target="blank">Local Ruckus has</a> certainly been an adventure — and one that we plan to keep going for a very long time — but we wanted something bigger, something brighter and shiny enough to ensure our own spotlight in the World Wide Web. So we consulted with some respected mentors, did a little soul-searching, and a lot of late-night debating. By July 2013, the conception of a new company was set in stone.</p>



	<p>But what exactly will this company do, and what do we call it?</p>

	<p>Whatever we decided on, we knew we wanted to keep the elements of Local Ruckus that reflected our “Work Hard. Play Hard,” mantra, our passion for local businesses and what they provide for communities, and our hankering to help people experience their community for what it’s really worth.</p>

	<p>After what seemed like years brainstorming a name, we agreed on “Hoopla.io.” The word “hoopla” implies more than just a good time, but something that’s truly worth whooping and hollering about. Because at the end of the day, all we want is to help the people of America discover local and “hyperlocal” events that will eject them from the too-comfortable cushions of their couch and get them out having fun.</p> 

	<p>Hoopla.io is an event marketing and syndication platform that gives local businesses a one-stop shop to promote their events, and publishers an automated curation tool to showcase nearby hyperlocal events. In short, a platform that will extract some of the “busy” out of “business” so that both local businesses and publishers could focus on other aspects of their work.</p> 

	<p>This blog will give you an insider’s view into Hoopla.io — why we made the decisions that we did, how we did it, what’s coming next, and maybe even a little bit more of our Howie, our beloved Hoopla Hare. </p>

	<p>Come with us on this journey, but buckle your seatbelts. It’s gonna be a wild ride!</p>
		<div class="gray blogBio col-md-6 col-sm-12 col-xs-12"><img src="/client/images/dondo-blog-pic.png" class="pull-left img-thumbnail img-responsive"><h4>About Adam Arredondo</h4><p>Adam Arrendondo is Executive and CEO of Hoopla.io.</p></div>
<span class="row text-center" style="text-align:center;"><img src="client/images/Team-Hoopla-Funny.jpg" class="img-responsive clearfix team"></span>
    </div>

  </div>
</div>
<footer id="foot-sec">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
        <h3 class="">Get In Touch With Us</h3>
		<p class="lead">
		<span>Hoopla.io • 4454 State Line Road • Kansas City, KS 66103</span>
		</br>1-888-854-6232</span>
		<h4><a href="mailto:support@hoopla.io" target="blank">support@hoopla.io</a> | <a href="mailto:info@hoopla.io" target="blank">info@hoopla.io</a></h4>
		</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 text-center social">
        <div style="display:inline-block">
          <div class="circ-wrap">
            <a href="http://www.facebook.com/hooplaio" target="blank"><i class="icon-facebook icon-4x"></i></a>
          </div>
          <div class="circ-wrap">
            <a href="http://www.twitter.com/hooplaio" target="blank"><i class="icon-twitter icon-4x"></i></a>
          </div>          
          <!--<div class="circ-wrap">
            <a href="http://www.bootstraptor.com" target="blank"><i class="icon-github icon-4x"></i></a>
          </div>    -->       
          <div class="circ-wrap">
            <a href="http://www.linkedin/hooplaio" target="blank"><i class="icon-linkedin icon-4x"></i></a>
          </div>          
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="text-center col-sm-12 col-lg-12">
		<ul class="nav navbar-nav navbar-right">
		  <li><a>© 2013 Hoopla.io</a></li>
	     <!--- <li><a href="#">Investors</a></li>
	      <li><a href="#">Press</a></li>
	      <li><a href="#">Developers</a></li>-->
	    </ul></div>
    </div>
  </div>
</footer>