<div class="howie-bg-404">
<h1><span class="primary">Umm</span>, I'm very sorry that we can't find that page.</h1>
<h4><em>{cue picture of cuddly bunny}</em></h4>
<a href="/" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-hand-left"></i> HOME</a>
</div>