<footer>
  <nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav copyright-social">
      <li class="text-muted">&copy;2013-2014 Hoopla.io</li>
      <li class="text-muted">social links</li>
    </ul>
  <a class="btn btn-success" href="/signUp">Try Hoopla.io Today</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Investors</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Developers</a></li>
    </ul>
  </div>
</nav>
</footer>
