<section class="home">
<!-- Carousel
================================================== -->
<div class="container"><img src="http://placehold.it/1500X300""></div>
<div class="navbar navbar-inverse promo-tagline row">
<form class="container" style="text-align:center;"><input type="text" placeholder='Email Address' class="">&nbsp;<input type="text" placeholder='Password'><a class="btn btn-success">Try Hoopla.io Today For Free</a></form>
</div>
<!-- /.carousel -->

<div class="container primary-messaging">

<!-- Local Business Messaging -->

<article class="local-business col-md-6">
<h3><a href="localBusinesses">Local Events, Local Reach, One-Solution</a></h3>
<p>Manage, Measure and Distribute your local event promotions with Hoopla. Increase attendance and streamline the event promotion process for your local event. Etiam tempor porttitor libero, id ullamcorper metus laoreet vel. Nam vel arcu mollis nibh molestie gravida. Integer nec tellus ac mi condimentum scelerisque. Suspendisse nec odio ante. </p>
<h5>Hoopla.io for Local Businesses</h5>
</article>
<article class="col-md-push-6"><img src='http://placehold.it/500X300'></article>

<!-- Publisher Messaging -->

<article class="col-md-6"><img src='http://placehold.it/500X300'></article>
<article class="publishers col-md-6">
<h3><a href="publishers">Premium Local Event Content for Publishers</a></h3>
<p>Premium Local Event Content for <a href="publishers">Publishers</a>, <a href="publishers">Mobile Apps</a>, <a href="publishers">Local Event Calendars</a>, <a href="publishers">Municipalities</a> and <a href="publishers">Media Outlets</a> turpis metus, convallis vitae urna viverra, fringilla dignissim ipsum. Etiam tempor porttitor libero, id ullamcorper metus laoreet vel. Nam vel arcu mollis nibh molestie gravida. Integer nec tellus ac mi condimentum scelerisque. Suspendisse nec odio ante. </p>
<h5>Hoopla.io for Publishers</h5>
</article>
</div>
</div>
</section>

