<style>
/* landing page styles
===========================*/
body {
  padding-top: 60px;
  padding-bottom: 0px;
  background: #F7F7F7;
  font-size: 16px;
}
header {
  padding-top: 50px;
}
section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 80px;
  width: 100%;
  min-width: 100%;
  margin-top: -5px;
}
.outer-container {
  margin: 0px;
  padding: 0px;
  max-width: none;
}
.page-header {
  padding-top: 20px;
}
.justify {
  text-align: justify;
}
/* HEADER
  ============================*/
#head-top {
  position: relative;
  background: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -60px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin-bottom: -9px;
}
#head-top .jumbotron {
  background: none;
  min-height: 300px;
  color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-top: 160px;
}
#head-top .jumbotron h1 {
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.65);
}
.gobtnwrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
}
.gobtn {
  display: inline-block;
  width: 70px;
  height: 40px;
  background: #06a1af;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 15px;
}
.gobtn i {
  color: #c5d645;
}
.gobtn:hover {
  opacity: 0.9;
  text-decoration: none;
}
.problem h1 {
  color: #06a1af;
  font-size: 2.1em;
  margin-top: 25%;
}
.solution h1 {
  color: #06a1af;
  font-size: 2.1em;
  margin-top: 25%;
}
#topnav a.sign-in {
  position: absolute;
  top: -2px;
  right: 10px;
  border-top: 1px solid #fff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
}
/* SECTIONS
    ===========================*/
nav.signup {
  padding: 10px;
  text-align: center;
  color: #c5d645;
}
nav.signup div {
  margin: 0px auto;
  width: 60%;
}
nav.signup input.form-control {
  width: 20%;
  float: left;
  margin-left: 2%;
}
nav.signup h4 {
  display: inline-block;
  float: left;
}
.success {
  color: #c5d645;
}
.primary {
  color: #06a1af;
}
#Section-1 {
  background: #06a1af;
  color: #fff;
}
#Section-2 {
  background: #c5d645;
  color: #3e3f42;
}
#Section-1 i {
  
  color:#c5d645;
}
#Section-2 i {
  
  color:#06a1af;
}
.well {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#Section-1 .well {
  /*background-color:#34495e;*/

  background: url('/client/images/landing/bar.jpg') 0% 0% fixed repeat;
  color: #fff;
  margin-bottom: -100px;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.well .lead, #Section-2 .well .lead p.dev-cta{
  font-size: 220%;
text-shadow: 0px 0px 5px #000;
color:#fff!important;
}
#Section-2 .well {
  background: url('http://farm7.staticflickr.com/6208/6035958264_2bbd2735f4_o.jpg') 0% 0% fixed repeat;
  margin-bottom: -100px;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
#Section-3 {
  background: #3e3f42;
  color: #999999;
}
#Section-3 h2,
#Section-3 h3 {
  color: #fff;
}
#Section-4 {
  background: #5dade2;
}
#Section-4 h2,
#Section-4 h3 {
  color: #fff;
}
hr {
  margin: 40px 0px;
}
hr,
.page-header {
  border-color: rgba(250, 250, 250, 0.1);
}
#Section-2 p {
  color: #555555;
}
.page-header h2,
.page-header h3 {
  font-weight: 100;
  font-size: 46px;
  line-height: 46px;
}
.box {
  margin-bottom: 30px;
}
.about-box {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
}
.about-box h3,
.about-box h4 {
  border-bottom: 1px solid #fff;
}
.about-box h3 span,
.about-box h4 span {
  border-bottom: 2px solid #fff;
  display: inline-block;
}
/* FOOTER
    ================================*/
footer {
  display: inline-block;
  width: 100%;
  min-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 200px;
  background: #292C37;
  color: #fff;
}
footer .circ-wrap {
  float: left;
  margin: 10px;
}
footer .circ-wrap a {
  color: #fff;
}
footer .circ-wrap a:hover {
  text-decoration: none;
}
/* NAVIGATION 
    =============================== */
.navbar .nav > li > a {
  font-family: 'quicksandbold';
  float: none;
  padding: 30px 20px 30px;
  color: #06a1af;
  text-decoration: none;
  text-shadow: none;
  font-size: 14px;
  font-wight: bold;
  text-transform: uppercase;
  border-top: 10px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #c5d645;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #06a1af;
  text-decoration: none;
  background: none;
  border-top: 10px solid #c5d645;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-brand {
  padding: 6px 15px;
  color: #fc5242;
  text-shadow: none;
  font-size: 26px;
  font-weight: 100;
  margin-right: 30px;
  max-width: 300px;
}
.navbar {
  -webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
}
.navbar {
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background: #fff;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: dashed 1px #c5d645;
}
/* ICONS WRAPERS
  ===========================*/
.circ-wrap {
  width: 98px;
  height: 98px;
  margin: 0 auto 10px;
  line-height: 95px;
  text-align: center;
  border: 1px solid rgba(250, 250, 250, 0.9);
  border-radius: 50px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Carousel
  ==============================*/
.carousel-indicators {
  top: 0px;
  left: 95%;
}
.carousel-control {
  position: absolute;
  top: 0%;
  width: 40px;
  height: 100%;
  font-size: 30px;
  padding-top: 10px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-shadow: #06a1af;
}
.carousel-control i {
  position: absolute;
  top: 40%;
  z-index: 5;
  display: inline-block;
}
.carousel-control.right {
  left: auto;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: none;
  color: #c5d645;
}
.carousel-control.left {
  right: auto;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: none;
  color: #c5d645;
}
#myCarousel2 .carousel-control.left {
  right: auto;
  left: -50px;
}
#myCarousel2 .carousel-control.right {
  left: auto;
  right: -20px;
}
/* add new to change BS 3.0. latest styles **/
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  height: 20px;
  z-index: 15;
  width: 20%;
  padding-left: 0;
  margin-left: -110px;
  text-align: center;
  list-style: none;
}
/* TEAM
  ==============================*/
.social-contacts a i {
  text-decoration: none;
  color: #06a1af;
}
.social-contacts a i:hover {
  color: #335E7C;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
}
.social-contacts a:hover {
  text-decoration: none;
}
/* PRODUCTS
  ==============================*/
.thumbnail.product-item {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  overflow: hidden;
  max-height: 300px;
  padding-top: 20px;
  background: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
/* Progress bars
   ================================*/
.progress,
.ui-slider {
  background: #e8edf2;
  border-radius: 32px;
  height: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar {
  height: 20px;
}
.progress .bar,
.ui-slider .bar {
  background: #1abc9c;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar-success,
.ui-slider .bar-success {
  background-color: #2ecc71;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar-warning,
.ui-slider .bar-warning {
  background-color: #FFAA49;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar-danger,
.ui-slider .bar-danger {
  background-color: #e74c3c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progress .bar-info,
.ui-slider .bar-info {
  background-color: #3498db;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar .btn-navbar {
  float: right;
  padding: 20px 20px;
  margin: 0px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #292425;
  background-image: none;
  border-color: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
/* @media width
  ====================================*/
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed !important;
  }
  .navbar .nav > li > a {
    padding: 30px 10px;
  }
  .jumbotron h1 {
    font-size: 40px;
  }
  .carousel-control {
    top: 0%;
  }
  .carousel-control.left {
    left: -10px;
    z-index: 1020;
  }
  .carousel-control.right {
    right: 5px;
    z-index: 1020;
  }
  #head-top {
    min-height: auto;
  }
}
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-inverse .navbar-inner {
    min-height: 30px;
  }
  .navbar .navbar-brand {
    padding: 15px 0px 10px;
  }
  .navbar .navbar-brand {
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: -20px;
  }
  .navbar .nav > li > a {
    float: none;
    padding: 15px 20px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  /* FIX FONT SIZE AND jumbotron padding in HEADER FOR MOBILE DEVICES 07/16/2013 */
  #head-top .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 100px;
    padding-bottom: 15px;
  }
  #head-top .jumbotron h1 {
    font-size: 24px;
    text-align: center;
  }
  #head-top .jumbotron .lead {
    font-size: 16px;
    text-align: center;
  }
  /* END: FIX HEADER FOR MOBILE DEVICES 07/16/2013 */
  .page-header h3 {
    font-weight: 100;
    font-size: 32px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  /* CIRCULE ICONS FIX SIXE FOR MOBILES */
  .circ-wrap {
    width: 58px;
    height: 58px;
    line-height: 30px;
  }
  .icon-4x {
    font-size: 2em;
  }
  #myCarousel2 .carousel-control.left {
    right: auto;
    left: -40px;
  }
  #myCarousel2 .carousel-control.right {
    left: auto;
    right: -20px;
  }
  #topnav a.sign-in {
    position: absolute;
    top: 50px;
    right: 5%;
    border-radius: 4px;
    border-top: none;
  }
}
@media (max-width: 480px) {
  #topnav a.sign-in {
    position: absolute;
    top: 50px;
    right: 10%;
    border-radius: 4px;
    border-top: none;
  }
}
/**************************** PRICE BOX BODY **************************/
.pricing-table {

text-align:center;
font-weight:400;
border:6px solid #1ABC9C;
margin-bottom:30px;
background:#fff;

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.pricing-table:hover{
-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
}



/******************************** ROUND CORENERS ************************/

.rounded{
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/******************************** COLORS BODY *************************/
.pricing-table.green {

text-align:center;
font-weight:400;
border:6px solid #2ECC71;
}

.pricing-table.red {

text-align:center;
font-weight:400;
border:6px solid #E74C3C;
}

.pricing-table.orange {

text-align:center;
font-weight:400;
border:6px solid #F39C12;
}

.pricing-table.dark-blue {

text-align:center;
font-weight:400;
border:6px solid #34495E;
}

.pricing-table.blue {

text-align:center;
font-weight:400;
border:6px solid #3498DB;
}

/********************************** BOX CONTENT ************************/
.pricing-table-sign-up {
  border-top:1px solid #BDC3C7;
  padding:10px 20px;
  text-align:center;
  background:#ECF0F1;
}

.pricing-table-features p {
  
  padding:5px 20px;
  text-align:center;
}
.pricing-table-features p:nth-child(2n){
  background:#ECF0F1;
}

.pricing-table-features, .pricing-table-space{
  background:#fff;
}

.pricing-table p{
    padding:5px;
    margin-top:5px;
    font-size:110%;
    font-weight:400;
    background:#fff;
  }
  .pricing-table p strong{
    font-weight:600;
  }
  
  
/********************************* BOX HEADER ********************************/
  .pricing-table .pricing-table-header {
  color:#fff;
  background: #1ABC9C;
  padding:0px;
}

  .pricing-table-header .heading{
  display:inline-block;
  width:100%;
  padding:15px 0px;
  text-transform:uppercase;
  
}

/**************************** COLOR BOX HEDER ***************************/
  
  .pricing-table.orange .heading{
    background: #F39C12;
  }
  
  .pricing-table.green .heading{
    background: #2ECC71;
  }
  
  .pricing-table.red .heading{
  background: #E74C3C;
  }
  
  .pricing-table.dark-blue .heading{
  background: #34495E;
  }
  
  .pricing-table.blue .heading{
  background: #3498DB;
  }


.pricing-table .pricing-table-header .price-value{
  background: #16A085;

}

.pricing-table.red .pricing-table-header .price-value{
  background: #C0392B;

}

.pricing-table.orange .pricing-table-header .price-value{
  background: #D35400;

}
.pricing-table.green .pricing-table-header .price-value{
  background: #27AE60;

}

.pricing-table.dark-blue .pricing-table-header .price-value{
  background: #2C3E50;

}

.pricing-table.blue .pricing-table-header .price-value{
  background: #2980B9;

}

.pricing-table-header .price-value {
  display:inline-block;
  width:100%;
  padding:20px 0px;
  background: #1ABC9C;
}

.pricing-table-header .price-value span{
  font-size:300%;
}
.pricing-table-header .price-value span.mo{
  font-size:200%;
}
</style>
<nav id="topnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#head-top"><img src="/client/images/hoopla_logo.png" /></a>
    </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse top-spy">
        <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="#head-top">Home</a></li>
              <li><a href="#Section-1">For Businesses</a></li>
              <li><a href="#Section-2">For Publishers</a></li>
              <li><a href="#Section-3">About Us</a></li>
              <li><a href="#foot-sec">Contact Us</a></li>
        </ul>
      </div>
    </div>
  <a data-toggle="modal" href="#loginModal" class="btn btn-info btn-sm sign-in">Sign In</a>
</nav>
 <header id="head-top">
    <div class="jumbotron">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="container">
          <div class="carousel-inner">  
            <div class="active item problem"> 
              <div class="row">
                <div class="text-right col-xs-12 col-sm-6 col-md-8 col-lg-8">
                  <img  src="/client/images/landing/problem.png" alt="" />
                </div>
                <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
                  <h1 class="">Event Marketing shouldn't be difficult</h1>
                </div>
              </div>
            </div>
            <div class="item solution">
                <div class="row">
                  <div class="text-right col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <img  src="/client/images/landing/problem.png" alt="">
                  </div>
                  <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <h1 class="">Hoopla.io makes it so easy, it's almost magic</h1>
                  </div>
                </div>
            </div>
          </div> 
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
      </div>
    </div>
    <div class="gobtnwrapper">
      <a class="gobtn" href="#Section-1"><i class="icon-chevron-down icon-large"></i></a>
    </div>
  </header>
  <nav class="navbar-inverse signup">
    <form class="registerForm">
      <div class="form-group">
        <h4>Sign up for a free trial today</h4>
        <input type="text" placeholder="email" class="form-control" name="email">
        <input type="password" placeholder="password"  class="form-control" name="password">
        <a class="btn btn-success">Sign Up</a>
      </div>
    </form>
    
  </nav>
<section id="Section-1">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="success">What do you need to do?</h3>
        <p class="lead"></p>
      </div> 
    </div>
    <div class="row">
       <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
          
        <div class="">
          <img src="/client/images/landing/create.png" />
        </div>
              <h3>CREATE</h3>
              <p class="justify">Enter your event details into the Hoopla.io platform. Set one-time or recurring, or tag relevant details to optimize search.</p>
            </div>
        <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="">
          <img src="/client/images/landing/promote.png" />
          </div>
              <h3>PROMOTE</h3>
              <p class="justify">   Don’t forget to tag your event so that people will find it. Hoopla.io will publish your event on your website, social media, and local distribution partners.
        </p>

            </div>
            <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="">
          <img src="/client/images/landing/relax.png" />
          </div>
              <h3>RELAX</h3>
              <p class="justify">That’s it! We’ll do the work for you, all you need to do is sit back and get ready for a full house. </p>

           </div>
    </div>
    <div class="row">
      <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>EVENT MARKETING MADE EASY

        </h3>
        <p class="lead">
            So simple, it’s almost magical. 
        </p>
      </div> 
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-html5 icon-3x"></i>
      </div>
      <h3>SAVE TIME, MONEY, &amp; ENERGY</h3>
      <p class="justify">Our pricing model is built specifically with small businesses in mind. We want people to know about you and your unique events, and we believe it shouldn’t be difficult for you to do that. Our platform is designed to be simple, intuitive, and even a little bit fun. Go on, try it out for free.
      </p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-tablet icon-3x"></i>
        </div>
            <h3>ONE SIZE FITS ALL</h3>
            <p class="justify">Don’t worry about image sizes, font style, or any other design elements. Just make sure all your event details are there. We’ll take care of the rest. 
      </p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-css3 icon-3x"></i>
      </div>
      <h3>SHARE WITH ONE CLICK</h3>
      <p class="justify">There are a lot of places you should promote your event. Event directories, Facebook, Twitter, Conventions and tourism websites, Print Media, Online Event Calendars.  Luckily for you, we’ve got a wide variety of distribution partners just waiting for your content. </p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-rocket icon-4x"></i>
        </div>
            <h3>SCHEDULE AHEAD OF TIME</h3>
            <p class="justify">Market your events at the perfect time.  Whether it’s now or in the future, we give you the tools to promote your events anytime, day or night.</p>
          
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-beaker icon-4x"></i>
        </div>
            <h3>WE’RE HERE FOR YOU</h3>
            <p class="justify">We love what we do, and we want to make sure you love it too. Support from real humans — that’s how we operate. We’re here to help you should you need advice or assistance.</p>
          
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-thumbs-up icon-4x"></i>
        </div>
            <h3>6. BOOTSTRAP 3.0.!</h3>
            <p class="justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>
  
  </div><!-- / CONTAINER-->
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <p class="lead">
            Sign Up for your free Hoopla.io account today
          </p>
          
        </div>
        <div class="text-left col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a class="btn btn-large btn-block btn-success" href="/signUp">Start</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Section-2">
  <div class="container">

   <div class="row">
    <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="primary">EVENT CURATION MADE EASY</h3>
      <p class="lead">So simple, it’s almost magic.
    </p></div> 
  </div>  
  
      <!-- Example row of columns -->
      <div class="row">
        <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a href="#"><img class="img-responsive" src="/client/images/landing/iMac.png" /></a> 
        </div>
    
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
          <h3>  We make it easy for local businesses to manage their event marketing.
    </h3>
          <p class="lead">Which gives you a reliable source for 
    high quality, local events content. 
    </p>
       </div>
     
      </div>
    <hr>
<div id="myCarousel2" class="carousel slide">
  <div class="carousel-inner">
  <div class="item active">
  <div class="row text-center">
    <!-- ITEM-->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-cogs icon-4x"></i>
        </div>
      <h3>AUTOMATED CURATION</h3>
      <p>We get our event information straight from the source, the event host.  Rest easy knowing that all the information is accurate and up-to-date.</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-search icon-4x"></i>
        </div>
      <h3>NO MORE SEARCHING
      </h3>
      <p>Your time is too important to spend searching multiple websites for events to fill your event calendar. With Hoopla.io, all you need to do is select the relevant events that your readers would be interested in, and our platform will do the rest. </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <div class="circ-wrap">
      <i class="icon-calendar icon-4x"></i>
      </div>
      <h3>FREE CONTENT</h3>
      <p>Our widgets and API seamlessly connect to existing websites and CMS platforms. Set it up once, and you’re good to go.</p>
        </div>
  </div>
  </div>
  <div class="item">
  <div class="row text-center">
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <div class="circ-wrap">
              <i class="icon-beaker icon-4x"></i>
              </div>
        <h3>SEAMLESS INTEGRATION</h3>
        <p>Our widgets and API seamlessly connect to existing websites and CMS platforms. Set it up once, and you’re good to go.</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <div class="circ-wrap">
              <i class="icon-home icon-4x"></i>
              </div>
        <h3>LOCAL &amp; HYPERLOCAL</h3>
        <p>Looking for well known local events to populate your events calendar?  We’ve got you covered.  But we also have the little guys too: neighborhood bars and restaurants, community galleries, etc.  We call those hard-to-find events hyperlocal, and it’s our bread and butter.
        </p>
          </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
            <i class="icon-code icon-4x"></i>
            </div>
      <h3>NEED AN API? WE’VE GOT ONE</h3>
      <p>Integrate our API easily into your website or application and start building cool products with our events data. Contact us for details</p>
        </div>
  </div>
  </div>
</div>
<a class="carousel-control left" href="#myCarousel2" data-slide="prev"><i class="icon-chevron-left"></i></a>
<a class="carousel-control right" href="#myCarousel2" data-slide="next"><i class="icon-chevron-right"></i></a>  
</div>
</div>
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <p class="lead dev-cta">
            Are you a developer?
          </p>
        </div>
        <div class="text-left col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a class="btn btn-large btn-block btn-success" href="http://www.bootstraptor.com">Get Your API Key Here »</a>
        </div>
      </div>
    </div>
  </div>
 </section> 
<section id="Section-3">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
        <h3>The Hoopla.io team</h3>
        <p class="lead">
      </p></div> 
    </div>  
 
    <div class="row text-center">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/dondo.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Adam Arredondo</h3>
        <h4>Executive &amp; Co-Founder</h4>
        <h5>Chief Magic Officer</h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/marcus.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Matthew Marcus</h3>
        <h4>Executive &amp; Co-Founder</h4>
        <h5>Chief Telepathy Officer</h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/england.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Adam England</h3>
        <h4>Platform Development</h4>
        <h5>Director of Special Effects<h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/miq.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Matt Miquelon</h3>
        <h4>Platform Development</h4>
        <h5>Director of Illusions<h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      
    </div>
      <div class="row text-center">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/dondo.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Adam Arredondo</h3>
          <h4>Executive &amp; Co-Founder</h4>
          <h5>Chief Magic Officer</h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/marcus.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Matthew Marcus</h3>
          <h4>Executive &amp; Co-Founder</h4>
          <h5>Chief Telepathy Officer</h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/england.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Adam England</h3>
          <h4>Platform Development</h4>
          <h5>Director of Special Effects<h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/miq.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Matt Miquelon</h3>
          <h4>Platform Development</h4>
          <h5>Director of Illusions<h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>

      </div>
    <hr>
    
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 col-lg-7">
  <h3 class="main-color">OUR STORY</h3>
  <div class="about-box row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="circ-wrap">
        <i class="icon-beaker icon-4x"></i>
      </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">   
      <h4><span>WEB &amp; UI DESIGN</span></h4>
      
      <p class="">
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
      </p>
    </div>
  </div>
  <div class="about-box row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="circ-wrap">
        <i class="icon-beaker icon-4x"></i>
      </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">   
      <h4><span>WEB &amp; UI DESIGN</span></h4>
      
      <p class="">
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
      </p>
    </div>
  </div>
  <div class="about-box row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="circ-wrap">
        <i class="icon-beaker icon-4x"></i>
      </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">   
      <h4><span>WEB &amp; UI DESIGN</span></h4>
      
      <p class="">
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
      </p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
  <h3 class="main-color">MAIN SKILLS</h3>
  <h4>DESIGN</h4>
  <div class="progress">
      <div class="bar" style="width: 75%;"></div>
  </div>
  <h4>HTML5</h4>
  <div class="progress">
      <div class="bar bar-danger" style="width: 60%;"></div>
  </div>
  <h4>CSS3</h4>
  <div class="progress">
      <div class="bar bar-success" style="width: 55%;"></div>
  </div>
  <h4>JQUERY</h4>
  <div class="progress">
    <div class="bar bar-warning" style="width: 75%;"></div>
  </div>
  <h4>PHP</h4>
  <div class="progress">
    <div class="bar bar-info" style="width: 55%;"></div>
  </div>
  </div>
</div>
</div>
</section>
<section id="Section-4">
  <div class="container">
    <!--<div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
      </div> 
    </div>-->
    <div class="row signUpArea"></div>
  </div>
</section> 
<footer id="foot-sec">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
        <h3 class="">Stay in touch with us</h3>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 text-center">
        <div style="display:inline-block">
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-facebook icon-4x"></i></a>
          </div>
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-twitter icon-4x"></i></a>
          </div>          
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-github icon-4x"></i></a>
          </div>          
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-linkedin icon-4x"></i></a>
          </div>          
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-google-plus icon-4x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="text-center col-sm-12 col-lg-12"><p>© 2013 Hoopla.io</p></div>
    </div>
  </div>
</footer>
