
<link rel="stylesheet" href="/client/homeStyles/home-styles.css" >

<nav id="topnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#head-top"><img src="/client/images/hoopla_logo.png" /></a>
    </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse top-spy">
        <ul class="nav navbar-nav navbar-right">
              <li><a href="#Businesses">For Businesses</a></li>
              <li><a href="#Publishers">For Publishers</a></li>
              <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
	<nav class="upper-nav">
		<a data-toggle="modal" href="#loginModal" class="sign-in btn btn-default btn-sm">Sign In</a>
		<a href="#Contact" class="btn btn-info btn-sm">Try It Free!</a>
		</nav>
    </div>
  
</nav>
 <header id="head-top">
    <div class="jumbotron">
      <div id="myCarousel" class="carousel slide">
        <!---Carousel Controls<ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol> -->
        <div class="container">
          <div class="carousel-inner">  
            <div class="active item hero"> 
              <div class="row">
<h1 class="problem success">Event Marketing shouldn't be difficult...</h1>
                <div class="text-right col-xs-12 col-sm-6 col-md-8 col-lg-8">
                </div>
                <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 solution">
                  <h1 class="primary">Hoopla.io makes it so easy, it's almost magic!</h1>
	<a class="btn btn-large btn-success" href="#Contact"><i class="icon-magic"></i>Try it Free!</a>
                </div>
              </div>
            </div>
          
          </div> 
        </div>
        <!---Carousel Controls<a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>-->
      </div>
    </div>
    <div class="gobtnwrapper">
      <a class="gobtn" href="#Businesses"><i class="icon-chevron-down icon-large"></i></a>
    </div>
  </header>
 
<section id="Businesses">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>EVENT MARKETING MADE EASY </h3>
        <p class="lead">
            So simple, it’s almost magical. 
        </p>
	
		<h4 class="success">The Hoopla.io event platform is a one-stop tool to promote your event on your website, social media, and Hoopla.io distribution partners.</h4>

			

      </div> 
    </div>
<div class="row">
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <span aria-hidden="true" class="icon-hourglass-save-time"></span>
      </div>
      <h3>SAVE TIME, MONEY, &amp; ENERGY</h3>
      <p class="justify">Our pricing model is built specifically with small businesses in mind. We want people to know about you and your unique events. Our platform is designed to be simple, intuitive, and even a little bit fun. Go on, <a href="/#Contact" class="success">give it a whirl</a>. It's free!.
      </p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <span aria-hidden="true" class="icon-belt-one-size-fits-all"></span>
        </div>
            <h3>ONE SIZE FITS ALL</h3>
            <p class="justify">No one has time to fluster over tedious design elements like image sizes. Just plug in your event’s details, and we’ll take care of the rest.
      </p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <span aria-hidden="true" class="icon-finger-one-click-sharing"></span>
      </div>
      <h3>SHARE WITH ONE CLICK</h3>
      <p class="justify"><strong class="success">Event directories, Facebook, Twitter, Conventions and tourism websites, Print Media, Online Event Calendars</strong>: there are a lot of outlets to promote your event, and we’ve got a wide variety of distribution partners just waiting for your content.</p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <span aria-hidden="true" class="icon-clock-schedule"></span>
        </div>
            <h3>SCHEDULE AHEAD OF TIME</h3>
            <p class="justify">Market your events at the perfect time.  Whether it’s now or in the future, we give you the tools to promote your events at anytime. Consider us your personal time machine. </p>
          
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <span aria-hidden="true" class="icon-comment-heart-support"></span>
        </div>
            <h3>WE’RE HERE FOR YOU</h3>
            <p class="justify">We love what we do, and we want to make sure you love it too. Support from real humans — that’s how we operate. We’ll always be here should you need advice or assistance, so please don’t hesitate to <a href="#foot-sec">contact us</a>. 
			</p>
          
    </div>
<div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <span aria-hidden="true" class="icon-chart-analytics"></span>
        </div>
            <h3>BUILT-IN ANALYTICS</h3>
            <p class="justify">We make it easy to see the results of your event marketing campaigns.  Track the performance of each of your events across our entire network.  Best of all, we do it automagically. <em>(This feature is coming soon)</em></p>
    </div>
</div>
	<div class="row">
      <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="success">How does Hoopla.io work?</h3>
        <p class="lead"></p>
      </div> 
    </div>
    <div class="row how">
       <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
          
        <div class="circ-wrap create">
	        <span aria-hidden="true" class="icon-magic-wand"></span>
	        </div>
              <h3>CREATE</h3>
              <p class="justify">Enter your event details into the Hoopla.io platform, and tag your event to optimize search.</p>
            </div>
        <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="circ-wrap promote">
	        <span aria-hidden="true" class="icon-bullhorn-promote"></span>
	        </div>
              <h3>PROMOTE</h3>
              <p class="justify">We publish your event on your website, social media, and local distribution partners for bona fide public discovery.
        </p>

            </div>
            <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
          	<div class="circ-wrap relax">
		        <span aria-hidden="true" class="icon-palm-trees-relax"></span>
		        </div>
              <h3>RELAX</h3>
              <p class="justify">That’s it! Now sit back, reorganize your stamp collection, play with your puppy — whatever you do to relax — and prepare for a full house.</p>

           </div>
    </div>
  </div>
  
  </div>
<!-- / CONTAINER-->
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <p class="lead">
            Sign Up for your free Hoopla.io account.
          </p>
          
        </div>
        <div class="text-left col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a class="btn btn-large btn-block btn-success" href="#Contact">Get Started Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Publishers">
  <div class="container">

   <div class="row">
    <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>EVENT CURATION MADE EASY</h3>
      <p class="lead">So simple, it’s almost magic.
    </p></div> 
  </div>  
  
      <!-- Example row of columns -->
      <div class="row">
        <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a href="#"><img class="img-responsive" src="/client/images/landing/iMac.png" /></a> 
        </div>
    
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
<h2 class="primary">Integrate our content easily into your website or application and start building cool products with our events data.</h2>
          <p class="lead">We make it easy for local businesses to manage their event marketing, which gives <strong>publishers</strong>, <strong>media outlets</strong> and <strong>web/mobile apps</strong> a reliable source for high quality, local events content.
    </p>

       </div>
     
      </div>
    <hr>

  <div class="row text-center">
   <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
   		<div class="circ-wrap">
	        <span aria-hidden="true" class="icon-location-hyperlocal"></span>
	        </div>
    <h3>LOCAL &amp; HYPERLOCAL</h3>
    <p>If you’re looking for well known local events to populate your events calendar, we’ve got you covered.  But we also have the little guys too: neighborhood bars and restaurants, community galleries, etc.  We call those hard-to-find events hyperlocal, and they’re our bread and butter.
	
    </p>
      </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      	<div class="circ-wrap">
	        <span aria-hidden="true" class="icon-searching"></span>
	        </div>
      <h3>NO MORE SEARCHING
      </h3>
      <p>Your time is too important to spend trenching through websites for events to fill your event calendar. With Hoopla.io, you can select relevant events that  interest your readers, and our platform will do the rest. Voila.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    	<div class="circ-wrap">
	        <span aria-hidden="true" class="icon-present-free-content"></span>
	        </div>
      <h3>FREE CONTENT</h3>
      <p>Our widgets and API seamlessly connect to existing websites and CMS platforms. Set it up once, and you’re good to go.</p>
        </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <div class="circ-wrap">
	        <span aria-hidden="true" class="icon-gears-seamless-integration"></span>
	        </div>
        <h3>SEAMLESS INTEGRATION</h3>
        <p>Our widgets and API seamlessly connect to existing websites and CMS platforms. Set it up once, and you’re set for life. </p>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
     	<div class="circ-wrap">
	        <span aria-hidden="true" class="icon-automated-curation"></span>
	        </div>
      <h3>AUTOMATED CURATION</h3>
      <p>We get our event information straight from the source, the event host — so snore a little deeper at night knowing that all the information is accurate and up-to-date. </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      		<div class="circ-wrap">
		        <span aria-hidden="true" class="icon-cloud-api"></span>
		        </div>
      <h3>NEED AN API? WE’VE GOT ONE</h3>
      <p>Integrate our API easily into your website or application and start building cool products with our events data. <a href="mailto:info@hoopla.io">Contact us for details</a></p>
        </div>
  </div>
  </div>
</div>
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <p class="lead dev-cta">
            Are you a developer?
          </p>
        </div>
        <div class="text-left col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a class="btn btn-large btn-block btn-success" href="http://developer.hoopla.io">Get Your API Key Here »</a>
        </div>
      </div>
    </div>
  </div>
 </section> 
<section id="About">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
        <h3>THE HOOPLA.io TEAM</h3>
        <p class="lead">
      </p></div> 
    </div>  
 
    <div class="row text-center bio">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/dondo.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Adam Arredondo</h3>
        <h4>Executive &amp; Co-Founder</h4>
        <h5>Chief Magic Officer</h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/marcus.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Matthew Marcus</h3>
        <h4>Executive &amp; Co-Founder</h4>
        <h5>Chief Telepathy Officer</h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/england.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Adam England</h3>
        <h4>Software Architect, Platform Development</h4>
        <h5>Director of Special Effects<h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/miq.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Matt Miquelon</h3>
        <h4>Creative Director, Platform Development</h4>
        <h5>Director of Illusions<h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      
    </div>
      <div class="row text-center bio">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/dondo.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Robert Fines</h3>
          <h4>Lead Developer, Platform Development</h4>
          <h5>Lead Ballroom Dancer</h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/jennifer_ong.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Jennifer Ong</h3>
          <h4>Business Development</h4>
          <h5>Director of Hypnotism</h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/england.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Shawna Westphal</h3>
          <h4>Platform Development</h4>
          <h5>Director of Special Effects<h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/miq.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Stephanie Holm</h3>
          <h4>Platform Development</h4>
          <h5>Director of Illusions<h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>

      </div>
	<div class="row text-center bio">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/dondo.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Morgan Hudson</h3>
        <h4>Executive &amp; Co-Founder</h4>
        <h5>Chief Magic Officer</h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
	 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/howie-portrait.png		" width="160" height="160" class="img-circle"></a>
        <h3>Hoopla Howie</h3>
        <h4>Mascot and Spokesrabbit</h4>
<h5>Chief Exit Officer</h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a>  <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
</div>
    <hr>
    <div class="row">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-12 col-lg-12">
	  <h3 class="main-color">OUR STORY</h3>
	<p class="lead">
	
	<p class="lead">If you try to define “hoopla,” you’ll get the following:</p>

	<p class="lead"><strong class="lead">hoop·la</strong></br>
	n. Informal</br>
	<em>1.a. Boisterous, jovial commotion or excitement.</em></br>
	    <em>b. Extravagant publicity: The new sedan was introduced to the public with much hoopla.</em></br>
	<em>2. Talk intended to mislead or confuse.</em>
</p>
	<p class="lead">Well, we’re definitely not meaning to mislead you, but we are committed to [ ]</p>

	<p class="lead">Hoopla.io started because we believed it should be easy to find things to do. We created a <a href="http://www.localruckus.com" target="blank">Ruckus</a> but weren’t satisfied with that. So we started over, and created a B2B platform. </p>

	<p class="lead">We believe in three things: </p>
	<ul>
	<li class="lead">Empowering businesses to make use of current technology</li>
	<li class="lead">Showcasing national, regional, local and hyperlocal events</li> 
	<li class="lead">Making it stupid simple</li>
	</ul>
	</p>
	</div>
	</div>

</section>
<section id="Contact">
  <div class="container">
    <!--<div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
      </div> 
    </div>-->
    <div class="row signUpArea"><div class="page-header"><h3>SIGN UP FOR FREE, IT'S EASY AS PIE!</h3></div></div>
  </div>
</section> 
<footer id="foot-sec">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
        <h3 class="">Get In Touch With Us</h3>
		<p class="lead">
		<span>Hoopla.io • 4454 State Line Road • Kansas City, KS 66103 • 816.888.8888</span>
		<h4><a href="mailto:support@hoopla.io">support@hoopla.io</a> | <a href="mailto:info@hoopla.io">info@hoopla.io</a></h4>
		</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 text-center social">
        <div style="display:inline-block">
          <div class="circ-wrap">
            <a href="http://www.facebook.com/hooplaio"><i class="icon-facebook icon-4x"></i></a>
          </div>
          <div class="circ-wrap">
            <a href="http://www.twitter.com/hooplaio"><i class="icon-twitter icon-4x"></i></a>
          </div>          
          <!--<div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-github icon-4x"></i></a>
          </div>    -->       
          <div class="circ-wrap">
            <a href="http://www.linkedin/hooplaio"><i class="icon-linkedin icon-4x"></i></a>
          </div>          
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-google-plus icon-4x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="text-center col-sm-12 col-lg-12">
		<ul class="nav navbar-nav navbar-right">
		  <li><a>© 2013 Hoopla.io</a></li>
	      <li><a href="#">Investors</a></li>
	      <li><a href="#">Press</a></li>
	      <li><a href="#">Developers</a></li>
	    </ul></div>
    </div>
  </div>
</footer>