<link rel="stylesheet" href="/client/homeStyles/home-styles.css" >
<nav id="topnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#head-top"><img src="/client/images/hoopla_logo.png" /></a>
    </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse top-spy">
        <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="#head-top">Home</a></li>
              <li><a href="#Businesses">For Businesses</a></li>
              <li><a href="#Publishers">For Publishers</a></li>
              <li><a href="#About">About Us</a></li>
              <li><a href="#Contact">Contact Us</a></li>
              <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  <a data-toggle="modal" href="#loginModal" class="btn btn-info btn-sm sign-in">Sign In</a>
</nav>
 <header id="head-top">
    <div class="jumbotron">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="container">
          <div class="carousel-inner">  
            <div class="active item problem"> 
              <div class="row">
                <div class="text-right col-xs-12 col-sm-6 col-md-8 col-lg-8">
                  <img  src="/client/images/landing/problem.png" alt="" />
                </div>
                <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
                  <h1 class="">Event Marketing shouldn't be difficult</h1>
                </div>
              </div>
            </div>
            <div class="item solution">
                <div class="row">
                  <div class="text-right col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <img  src="/client/images/landing/problem.png" alt="">
                  </div>
                  <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 top-spy">
                    <h1 class="">Hoopla.io makes it so easy, it's almost magic</h1>
<a class="btn btn-large btn-success" href="#Contact">Get Started Now</a>
                  </div>
                </div>
            </div>
          </div> 
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
      </div>
    </div>
    <div class="gobtnwrapper">
      <a class="gobtn" href="#Businesses"><i class="icon-chevron-down icon-large"></i></a>
    </div>
  </header>
 
<section id="Businesses">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>EVENT MARKETING MADE EASY </h3>
        <p class="lead">
            So simple, it’s almost magical. 
        </p>
      </div> 
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-html5 icon-3x"></i>
      </div>
      <h3>SAVE TIME, MONEY, &amp; ENERGY</h3>
      <p class="justify">Our pricing model is built specifically with small businesses in mind. We want people to know about you and your unique events, and we believe it shouldn’t be difficult for you to do that. Our platform is designed to be simple, intuitive, and even a little bit fun. Go on, try it out for free.
      </p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-tablet icon-3x"></i>
        </div>
            <h3>ONE SIZE FITS ALL</h3>
            <p class="justify">Don’t worry about image sizes, font style, or any other design elements. Just make sure all your event details are there. We’ll take care of the rest. 
      </p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-css3 icon-3x"></i>
      </div>
      <h3>SHARE WITH ONE CLICK</h3>
      <p class="justify">There are a lot of places you should promote your event. Event directories, Facebook, Twitter, Conventions and tourism websites, Print Media, Online Event Calendars.  Luckily for you, we’ve got a wide variety of distribution partners just waiting for your content. </p>
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-rocket icon-4x"></i>
        </div>
            <h3>SCHEDULE AHEAD OF TIME</h3>
            <p class="justify">Market your events at the perfect time.  Whether it’s now or in the future, we give you the tools to promote your events anytime, day or night.</p>
          
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-beaker icon-4x"></i>
        </div>
            <h3>WE’RE HERE FOR YOU</h3>
            <p class="justify">We love what we do, and we want to make sure you love it too. Support from real humans — that’s how we operate. We’re here to help you should you need advice or assistance.</p>
          
    </div>
    <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-thumbs-up icon-4x"></i>
        </div>
            <h3>6. BOOTSTRAP 3.0.!</h3>
            <p class="justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
	<div class="row">
      <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="success">What do you need to do?</h3>
        <p class="lead"></p>
      </div> 
    </div>
    <div class="row">
       <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
          
        <div class="">
          <img src="/client/images/landing/create.png" />
        </div>
              <h3>CREATE</h3>
              <p class="justify">Enter your event details into the Hoopla.io platform. Set one-time or recurring, or tag relevant details to optimize search.</p>
            </div>
        <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="">
          <img src="/client/images/landing/promote.png" />
          </div>
              <h3>PROMOTE</h3>
              <p class="justify">   Don’t forget to tag your event so that people will find it. Hoopla.io will publish your event on your website, social media, and local distribution partners.
        </p>

            </div>
            <div class="text-center box col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="">
          <img src="/client/images/landing/relax.png" />
          </div>
              <h3>RELAX</h3>
              <p class="justify">That’s it! We’ll do the work for you, all you need to do is sit back and get ready for a full house. </p>

           </div>
    </div>
  </div>
  
  </div>
<!-- / CONTAINER-->
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <p class="lead">
            Sign Up for your free Hoopla.io account today
          </p>
          
        </div>
        <div class="text-left col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a class="btn btn-large btn-block btn-success" href="#Contact">Start</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Publishers">
  <div class="container">

   <div class="row">
    <div class="page-header text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>EVENT CURATION MADE EASY</h3>
      <p class="lead">So simple, it’s almost magic.
    </p></div> 
  </div>  
  
      <!-- Example row of columns -->
      <div class="row">
        <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a href="#"><img class="img-responsive" src="/client/images/landing/iMac.png" /></a> 
        </div>
    
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
          <h3>  We make it easy for local businesses to manage their event marketing.
    </h3>
          <p class="lead">Which gives you a reliable source for 
    high quality, local events content. 
    </p>
       </div>
     
      </div>
    <hr>
<div id="myCarousel2" class="carousel slide">
  <div class="carousel-inner">
  <div class="item active">
  <div class="row text-center">
    <!-- ITEM-->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-cogs icon-4x"></i>
        </div>
      <h3>AUTOMATED CURATION</h3>
      <p>We get our event information straight from the source, the event host.  Rest easy knowing that all the information is accurate and up-to-date.</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
        <i class="icon-search icon-4x"></i>
        </div>
      <h3>NO MORE SEARCHING
      </h3>
      <p>Your time is too important to spend searching multiple websites for events to fill your event calendar. With Hoopla.io, all you need to do is select the relevant events that your readers would be interested in, and our platform will do the rest. </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <div class="circ-wrap">
      <i class="icon-calendar icon-4x"></i>
      </div>
      <h3>FREE CONTENT</h3>
      <p>Our widgets and API seamlessly connect to existing websites and CMS platforms. Set it up once, and you’re good to go.</p>
        </div>
  </div>
  </div>
  <div class="item">
  <div class="row text-center">
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <div class="circ-wrap">
              <i class="icon-beaker icon-4x"></i>
              </div>
        <h3>SEAMLESS INTEGRATION</h3>
        <p>Our widgets and API seamlessly connect to existing websites and CMS platforms. Set it up once, and you’re good to go.</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <div class="circ-wrap">
              <i class="icon-home icon-4x"></i>
              </div>
        <h3>LOCAL &amp; HYPERLOCAL</h3>
        <p>Looking for well known local events to populate your events calendar?  We’ve got you covered.  But we also have the little guys too: neighborhood bars and restaurants, community galleries, etc.  We call those hard-to-find events hyperlocal, and it’s our bread and butter.
        </p>
          </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="circ-wrap">
            <i class="icon-code icon-4x"></i>
            </div>
      <h3>NEED AN API? WE’VE GOT ONE</h3>
      <p>Integrate our API easily into your website or application and start building cool products with our events data. Contact us for details</p>
        </div>
  </div>
  </div>
</div>
<a class="carousel-control left" href="#myCarousel2" data-slide="prev"><i class="icon-chevron-left"></i></a>
<a class="carousel-control right" href="#myCarousel2" data-slide="next"><i class="icon-chevron-right"></i></a>  
</div>
</div>
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <p class="lead dev-cta">
            Are you a developer?
          </p>
        </div>
        <div class="text-left col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a class="btn btn-large btn-block btn-success" href="http://www.bootstraptor.com">Get Your API Key Here »</a>
        </div>
      </div>
    </div>
  </div>
 </section> 
<section id="About">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
        <h3>THE HOOPLA.io TEAM</h3>
        <p class="lead">
      </p></div> 
    </div>  
 
    <div class="row text-center bio">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/dondo.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Adam Arredondo</h3>
        <h4>Executive &amp; Co-Founder</h4>
        <h5>Chief Magic Officer</h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/marcus.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Matthew Marcus</h3>
        <h4>Executive &amp; Co-Founder</h4>
        <h5>Chief Telepathy Officer</h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/england.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Adam England</h3>
        <h4>Platform Development</h4>
        <h5>Director of Special Effects<h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img src="/client/images/landing/miq.jpg" width="160" height="160" class="img-circle"></a>
        <h3>Matt Miquelon</h3>
        <h4>Platform Development</h4>
        <h5>Director of Illusions<h5>
        <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
      </div>
      
    </div>
      <div class="row text-center bio">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/dondo.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Adam Arredondo</h3>
          <h4>Executive &amp; Co-Founder</h4>
          <h5>Chief Magic Officer</h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/marcus.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Matthew Marcus</h3>
          <h4>Executive &amp; Co-Founder</h4>
          <h5>Chief Telepathy Officer</h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/england.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Adam England</h3>
          <h4>Platform Development</h4>
          <h5>Director of Special Effects<h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <a href="#"><img src="/client/images/landing/miq.jpg" width="160" height="160" class="img-circle"></a>
          <h3>Matt Miquelon</h3>
          <h4>Platform Development</h4>
          <h5>Director of Illusions<h5>
          <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
        </div>

      </div>
    <hr>
    <div class="row">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-12 col-lg-12">
	  <h3 class="main-color">OUR STORY</h3>
	<p class="lead">
	
	<p class="lead">If you try to define “hoopla,” you’ll get the following:</p>

	<p class="lead"><strong class="lead">hoop·la</strong></br>
	n. Informal</br>
	<em>1.a. Boisterous, jovial commotion or excitement.</em></br>
	    <em>b. Extravagant publicity: The new sedan was introduced to the public with much hoopla.</em></br>
	<em>2. Talk intended to mislead or confuse.</em>
</p>
	<p class="lead">Well, we’re definitely not meaning to mislead you, but we are committed to [ ]</p>

	<p class="lead">Hoopla.io started because we believed it should be easy to find things to do. We created a <a href="http://www.localruckus.com" target="blank">Ruckus</a> but weren’t satisfied with that. So we started over, and created a B2B platform. </p>

	<p class="lead">We believe in three things: </p>
	<ul>
	<li class="lead">Empowering businesses to make use of current technology</li>
	<li class="lead">Showcasing national, regional, local and hyperlocal events</li> 
	<li class="lead">Making it stupid simple</li>
	</ul>
	</p>
	</div>
	</div>

</section>
<section id="Contact">
  <div class="container">
    <!--<div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
      </div> 
    </div>-->
    <div class="row signUpArea"><div class="page-header"><h3>SIGN UP FOR FREE, IT'S EASY AS PIE!</h3></div></div>
  </div>
</section> 
<footer id="foot-sec">
  <div class="container">
    <div class="row">
      <div class="page-header text-center col-sm-12 col-lg-12">
        <h3 class="">Stay in touch with us</h3>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 text-center">
        <div style="display:inline-block">
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-facebook icon-4x"></i></a>
          </div>
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-twitter icon-4x"></i></a>
          </div>          
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-github icon-4x"></i></a>
          </div>          
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-linkedin icon-4x"></i></a>
          </div>          
          <div class="circ-wrap">
            <a href="http://www.bootstraptor.com"><i class="icon-google-plus icon-4x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="text-center col-sm-12 col-lg-12"><p>© 2013 Hoopla.io</p></div>
    </div>
  </div>
</footer>
