<a href="http://www.hoopla.io"><img src="/client/images/hoopla_logo-dark-tagline.png" class="sign-in"></a>
<div class="container col-md-offset-3">
<form class="form-signin col-md-5 form-inline" name="loginForm">

    

<legend>Sign In</legend>
  <div class="row">
    <label for="username">Email</label>
    <input type="email" name="username" class="form-control username input-lg" placeholder="Email" autofocus="autofocus"/>
</div>
 <div class="row">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" class="form-control password input-lg"/>
  </div>
<div class="alert fade in" style="display:none;"></div>
<div class="row"><button type="button" class="btn btn-success btn-block btn-lg loginButton pull-right">Sign In</button></div>
    <div class="row"><a href="/login/forgot-password" class="pull-right forgotPasswordButton">I need help with my login</a></div>

</form>
<div class="form-inline col-md-3 messaging">
	<h3>Hoopla.io</h3>
	<h4>Event Marketing Made Easy</h4>
	<hr/>

	<p>Don't have a Hoopla.io account yet or need support?</p>
	<ul>
	<li><a href="/register" class="strong">Create an Account</a></li>
	<li><a href="http://www.hoopla.io/contact-us" class="strong">Contact Us</a></li>
	<li><a href="http://support.hoopla.io" class="strong">Knowledge Base</a></li>
	</ul>

</div>
</div>
