<form class="form-signin" name="loginForm" >
  <div class="modal-header primary">
	<h2>Sign In</h2>
	</div>
  <div class="modal-body">
    <div class="alert"></div>
	<label for="username" class="sr-only">Username</label>
    <input type="email" name="username" class="form-control username" placeholder="Email Address" autofocus=""/>
    <br />
	<label for="password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control password" placeholder="Password"/>
    <br />    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary loginButton">Login</button>
    <a href="/login/forgot-password" class="pull-left forgotPasswordButton">Forgot Password?</a>
  </div>
</form>