<img src="/client/images/hoopla_logo-dark-tagline.png" class="sign-in">
<div class="container col-md-offset-3">
<form class="form-signin col-md-5 form-inline" name="loginForm">

    <div class="alert" style="display:none;"></div>

<legend>Sign In</legend>
  <div class="row">
    <label for="username">Username</label>
    <input type="email" name="username" class="form-control username input-lg" autofocus=""/>
</div>
 <div class="row">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control password input-lg"/>
  </div>

<div class="row"><button type="button" class="btn btn-success btn-block btn-lg loginButton pull-right">Sign In</button></div>
    <div class="row"><a href="/login/forgot-password" class="pull-right forgotPasswordButton">I need help with my login</a></div>
</form>
<div class="form-inline col-md-3 messaging">
	<h3>Hoopla.io</h3>
	<h4>Event Marketing Made Easy</h4>
	<hr/>
	<p>Don't have a Hoopla.io account yet?</p> 
	<p><a href="/register" class="strong">Create Account</a></p>

</div>
</div>
