<div class="errors"></div>
<form class="form-signin" style="max-width:250px" name="loginForm" method="POST" action="/api/tokenRequest">
   <input type="email" name="username" class="form-control username" placeholder="Email Address" autofocus=""/>
</br>
   <input type="password" name="password" class="form-control password" placeholder="Password"/>
   <br />
   <div class="col-md-6"><button class="btn btn-default pull-right cancel" type="cancel">Cancel</button></div>
<div class="col-md-6"><button class="btn btn-info pull-right" type="submit">Sign in</button></div>
   <a href="/login/forgot-password" class="pull-right">Forgot Password?</a>
</form>
