<img src="/client/images/hoopla_logo-dark-tagline.png" class="sign-in">
<form class="form-signin form-inline" name="loginForm">

    <div class="alert" style="display:none;"></div>

<legend>Sign In</legend>
  <div class="row">
    <label for="username">Username</label>
    <input type="email" name="username" class="form-control username input-lg" autofocus=""/>
</div>
 <div class="row">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control password input-lg"/>
  </div>

<div class="row"><button type="button" class="btn btn-success btn-block btn-lg loginButton pull-right">Sign In</button></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><a href="/login/forgot-password" class="pull-right forgotPasswordButton">I need help with my login</a></div>
</form>