<div class="logout_container"><a href="/logout" class="logout">Logout</a></div>
<div class="errors"></div>
<form name="loginForm" method="POST" action="/api/tokenRequest">
  <label for="username">User Name</label>
  <input type="text" name="username" class="username"/>
  <label for="password">Password</label>
  <input type="password" name="password" class="password"/>
  <button type="submit">Login</button>
</form>
  