<nav class="navbar navbar-inverse" role="navigation">
  <div class="container collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a class="nav-cta" href="/event">Create New Event <i class="glyphicon glyphicon-cloud-upload"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="myEvents">My Events</a></li>
      <li><a class="myBusinesses">My Businesses</a></li>
      <li><a class="myApps">My Apps</a></li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="logout">Logout</a></li>
<li><a class="media">Media Library</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>