<nav class="navbar navbar-inverse" role="navigation">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="container collapse navbar-collapse navbar-ex1-collapse">
<div class="page-title pull-left hidden-xs"><h2>{Page Title}</h2>	</div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="myEvents">My Events</a></li>
      <li><a class="myBusinesses">My Businesses</a></li>
      <li class="hidden-xs"><a class="myApps">My Apps</a></li>
		<li><a href="#" class="hidden-lg hidden-sm hidden-md">Support</a></li> 
		<li><a href="#" class="hidden-lg  hidden-sm hidden-md">Contact</a></li>
		<li><hr></li>
		<li><a class="account hidden-lg  hidden-sm hidden-md">My Account</a></li>
 		<li><a class="logout hidden-lg  hidden-sm hidden-md">Logout</a></li>
      
      <li class="dropdown hidden-xs">
        <a href="#" class="dropdown-toggle profileActions" data-toggle="dropdown">Profile <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="account">My Account</a></li>
         	<li><a class="media">Media Library</a></li>
 			    <li><a class="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>