<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">About</a></li>
      <li><a href="#">Local Businesses</a></li>
      <li><a href="#">Publishers</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <p><a class="btn btn-primary btn-lg" href="/signUp">Try Hoopla Today »</a></p>
  </div>
</div>