<div class="row signUpArea"><div class="page-header"></div><div>
<div class="col-sm-12 col-xs-12 col-md-4 col-md-offset-1">
<a href="http://www.hoopla.io"><img src="/client/images/hoopla_logo-dark-tagline.png" class="sign-in"></a>

<form class="form-inline register">
  <div class="register-div">
  <div class="alert alert-danger alert-dismissable col-md-12" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <span class="message"></span>
  </div>
    <div class="control-group"> <span class="required pull-right">*required</span>
      <label for="username" class="control-label">Email<span class="required">*</span></label>
      <div class="controls">
        <input type="email" name="email" class="username form-control" />
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password<span class="required">*</span></label>
      <div class="controls">
        <input type="password" name="password" class="password form-control" />
      </div>
    </div>
    <div class="control-group">
      <label for="password-confirm" class="control-label">Confirm Password<span class="required">*</span></label>
      <div class="controls">
        <input type="password" name="password-confirm" class="password-confirm form-control" />
      </div>
<br/>
	<div class="control-group">
	   <button type="submit" class="btn btn-success btn-block pull-right signUp">Sign Up Now</button><br/><br/>
	 <a href="http://www.hoopla.io" class="btn btn-block btn-default">No Thank You</a>
	</div>
    </div>
 
  </div>

</form>

</div>
<div class="register">

<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1 steps">
<h5 class="white lead">SIGN UP TO ENJOY THESE BENEFITS:</h5>
<h4 class="lead gray">Benefits for Local Businesses</h4>
<p class="lead"><i class="icon-check"></i>FREE until 2014! ... Don't worry, we'll maintain a free plan thereafter. Paid plans to start at $20/month.</p>
<p class="lead"><i class="icon-check"></i>Manage your social media promotions from one place. </p>
<p class="lead"><i class="icon-check"></i>Update your website automagically with our widgets.</p>
<p class="lead"><i class="icon-check"></i>Automatically syndicate your events to publishers in the Hoopla.io Network. </p>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 steps col-md-offset-1">
<h4 class="lead gray">Benefits for Publishers</h4>
<p class="lead"><i class="icon-check"></i>FREE local event content!</p>
<p class="lead"><i class="icon-check"></i>FREE widgets and API for easy integration.</p>
<p class="lead"><i class="icon-check"></i>PLUS, earn revenue through our referral program ... coming 2014. </p>
</div>





</div></div></div>