<div class="row">
  <div class="col-md-1 col-md-6">
    <a href="/"><img class="logo" src="/client/images/hoopla_logo.png"></a>
  </div>
  <div class="col-md-6 top-nav-links">
    <span class="pull-right"><a href="#">Local Businesses</a><a href="#">Publishers</a>
    <a class="signInButton btn btn-default pull-right">Sign In</a>
	</span>
  </div>
</div>