<div class="row">
  <div class="col-md-1 col-md-6">
    <a href="/"><img class="logo" src="/client/images/hoopla_logo.png"></a>
  </div>
  <div class="col-md-4 col-md-offset-2 home-top-nav-links">
	<a href="/localBusinesses">Local Businesses</a>
	<a href="/publishers">Publishers</a>
    <a class="signInButton btn btn-default pull-right">Sign In</a>
  </div>
</div>