<div class="container">
  <div class="col-md-1 col-md-6">
    <a href="/"><img class="logo" src="/client/images/hoopla_logo.png"></a>
  </div>
  <div class="col-md-6 home-top-nav-links">
	<a href="/localBusinesses">Local Businesses</a>
	<a href="/publishers">Publishers</a>
  {{#if showLogin}}
  <a class="btn btn-info" href="/signUp">Sign Up</a><a class="signInButton btn btn-default">Sign In</a>
  {{/if}}
  </div>
</div>